/*//////////////////////////////////////////////////////////////////////////////
//	1 BASE
//////////////////////////////////////////////////////////////////////////////*/
/*	GENERIC 
//////////////////////////////////////////////////////////////////////////////*/
html {
  box-sizing: border-box;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #fdfdfd;
}

article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
  display: block;
}

/*	TYPOGRAPHY 
//////////////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: 'TradeGothic';
  src: url("../fonts/TradeGothic/TradeGothic-700c.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
}
@font-face {
  font-family: 'TradeGothic';
  src: url("../fonts/TradeGothic/TradeGothic-700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'TradeGothic';
  src: url("../fonts/TradeGothic/TradeGothic-400c.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: condensed;
}
@font-face {
  font-family: 'TradeGothic';
  src: url("../fonts/TradeGothic/TradeGothic-400.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: "TradeGothic", arial, helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "TradeGothic", arial, helvetica;
}

code, pre {
  font-family: monospace;
}

body {
  color: #393941;
}

a {
  color: #393941;
}

::-moz-selection {
  color: #fdfdfd;
  background: #d2232a;
}

::selection {
  color: #fdfdfd;
  background: #d2232a;
}

html {
  font-size: 14px;
  line-height: 1.25;
}
@media (min-width: 920px) {
  html {
    font-size: calc(1.66667vw - 1.33333px);
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 20px;
  }
}

.text-s, small {
  font-size: 0.8em;
}

.text-m, * {
  font-size: 1em;
}

.text-l, h3, h4, h5, h6 {
  font-size: 1.25em;
  line-height: 1.1;
}

.text-xl, h2 {
  font-size: 1.5625em;
  line-height: 1.1;
}

.text-xxl, h1 {
  font-size: 1.95313em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-stretch: condensed;
}

.td {
  font-family: "TradeGothic", arial, helvetica;
}

.condensed {
  font-stretch: condensed;
}

.bold {
  font-weight: 700;
}

/*	SPACING 
//////////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
}

* > *:last-child {
  margin-bottom: 0;
}

.mod_article h1,
.mod_article h2,
.mod_article h3,
.mod_article h4,
.mod_article h5,
.mod_article h6,
.mod_article p,
.mod_article ul,
.mod_article ol,
.mod_article dl,
.mod_article table,
.mod_article form,
.mod_article article,
.mod_article section {
  margin-bottom: 1rem;
}

/*	FORMS 
//////////////////////////////////////////////////////////////////////////////*/
input, button, textarea {
  padding: 0.5rem;
  line-height: 1.25;
  max-width: 100%;
  box-shadow: 2px 2px 0 #393941 inset, -2px -2px 0 #393941 inset;
  border: none;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  width: 100%;
}
input:hover, button:hover, textarea:hover {
  box-shadow: 2px 2px 0 #d2232a inset, -2px -2px 0 #d2232a inset;
}

input[type="submit"], button, .submit {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 0;
  width: auto;
  font-weight: 700;
}
input[type="submit"]:hover, button:hover, .submit:hover {
  background: #d2232a !important;
  box-shadow: 2px 2px 0 #d2232a inset, -2px -2px 0 #d2232a inset !important;
}

label {
  color: #393941;
  margin-bottom: 0.25rem;
  font-weight: 700;
  font-size: 0.8rem;
}

.ce_form .widget-submit .submit {
  font-weight: 700;
  background: transparent;
  color: #393941;
  box-shadow: 2px 2px 0 #393941 inset, -2px -2px 0 #393941 inset;
}
.ce_form .widget-submit .submit:hover {
  color: #fdfdfd;
}

/*	TABLES 
//////////////////////////////////////////////////////////////////////////////*/
/*	LISTS 
//////////////////////////////////////////////////////////////////////////////*/
nav ul {
  list-style: none;
}

.mod_article ul h1, .mod_article ul h2, .mod_article ul h3, .mod_article ul h4, .mod_article ul h5, .mod_article ul h6, .mod_article ol h1, .mod_article ol h2, .mod_article ol h3, .mod_article ol h4, .mod_article ol h5, .mod_article ol h6 {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin-bottom: 0 !important;
  margin-left: 1rem;
}

ol {
  list-style-position: inside;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

.ce_text ul {
  list-style-type: none;
}
.ce_text ul li {
  padding-left: 1rem;
}
.ce_text ul li::before {
  content: "";
  height: .25rem;
  width: .5rem;
  background: #a6a7ac;
  display: inline-block;
  position: absolute;
  margin-right: 0.25rem;
  margin-left: -1rem;
  margin-top: 0.5rem;
}
.ce_text ol {
  list-style-type: none;
}
.ce_text ol li {
  counter-increment: step-counter;
}
.ce_text ol li::before {
  content: counter(step-counter);
  font-weight: 700;
  font-family: "TradeGothic", arial, helvetica;
  margin-right: 0.25rem;
  color: #a6a7ac;
}

/*	LINKS 
//////////////////////////////////////////////////////////////////////////////*/
a {
  text-decoration: none;
  sdisplay: inline-block;
  background-image: linear-gradient(to top, #393941, #393941 1px, transparent 1px);
  color: #393941;
}
a:hover {
  color: #d2232a;
  background-image: linear-gradient(to top, #d2232a, #d2232a 1px, transparent 1px);
}

@media (min-width: 1280px) {
  .site-breadcrumbs, .mod_article a, .site-footer a, .site-nav--sub a {
    text-shadow: .05rem 0 0 #fff, 0 .05rem 0 #fff, .05rem .05rem 0 #fff, .05rem -.05rem 0 #fff, -.05rem .05rem 0 #fff, -.05rem -.05rem 0 #fff, .1rem 0px 0 #fff, 0 .1rem 0 #fff, .1rem .1rem 0 #fff, .1rem -.1rem 0 #fff, -.1rem .1rem 0 #fff, -.1rem -.1rem 0 #fff;
  }
}

.mobile .site-main a, .mobile .site-footer a, .ios .site-main a, .ios .site-footer a, .android .site-main a, .android .site-footer a {
  background-image: none !important;
  text-decoration: underline;
  text-shadow: none !important;
}

figure a {
  background-image: none !important;
}

a[href$=".pdf"]:after {
  content: "(.pdf)";
  background-image: url("../icons/fontawesome/regular/file-pdf.svg");
  background-size: 100%;
  background-size: 100% 100%;
  width: 1rem;
  height: 1rem;
  font-size: 0;
  display: inline-block;
  position: absolute;
  margin-top: .15rem;
  margin-left: .15rem;
}

/*	MEDIA 
//////////////////////////////////////////////////////////////////////////////*/
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*	SLAPS 
//////////////////////////////////////////////////////////////////////////////*/
.slab--red, .site-footer, .contactbox {
  background: #d2232a;
  color: #fdfdfd;
}
.slab--red a, .site-footer a, .contactbox a {
  color: #fdfdfd;
  background-image: linear-gradient(to top, currentColor, currentColor 1px, transparent 1px);
}
@media (min-width: 1280px) {
  .slab--red a, .site-footer a, .contactbox a {
    text-shadow: 0 2px 0px #d2232a, 2px 2px 0px #d2232a, -2px 2px 0px #d2232a, 0 1px 0px #d2232a, 1px 1px 0px #d2232a, -1px 1px 0px #d2232a;
  }
}
.slab--red a:hover, .site-footer a:hover, .contactbox a:hover {
  background-image: linear-gradient(to top, currentColor, currentColor 1px, transparent 1px);
  color: black;
}

.slab--grey {
  background: #393941;
  color: #fdfdfd;
}
@media (min-width: 1280px) {
  .slab--grey a {
    text-shadow: 0.05rem 0 0 #393941, 0 0.05rem 0 #393941, 0.05rem 0.05rem 0 #393941, 0.05rem -0.05rem 0 #393941, -0.05rem 0.05rem 0 #393941, -0.05rem -0.05rem 0 #393941, 0.1rem 0px 0 #393941, 0 0.1rem 0 #393941, 0.1rem 0.1rem 0 #393941, 0.1rem -0.1rem 0 #393941, -0.1rem 0.1rem 0 #393941, -0.1rem -0.1rem 0 #393941;
  }
}

.slab--grey-lighter, .site-claim, .infobox, .site-intro {
  background: #ededef;
}
@media (min-width: 1280px) {
  .slab--grey-lighter a, .site-claim a, .infobox a, .site-intro a {
    text-shadow: 0.05rem 0 0 #ededef, 0 0.05rem 0 #ededef, 0.05rem 0.05rem 0 #ededef, 0.05rem -0.05rem 0 #ededef, -0.05rem 0.05rem 0 #ededef, -0.05rem -0.05rem 0 #ededef, 0.1rem 0px 0 #ededef, 0 0.1rem 0 #ededef, 0.1rem 0.1rem 0 #ededef, 0.1rem -0.1rem 0 #ededef, -0.1rem 0.1rem 0 #ededef, -0.1rem -0.1rem 0 #ededef;
  }
}

/*	HELPERS 
//////////////////////////////////////////////////////////////////////////////*/
/* Debug Classes */
.icon-grid {
  position: fixed;
  z-index: 99999;
  bottom: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: red;
}

.overlay {
  opacity: 0;
}

.has-debug_overlay .overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .5s;
  pointer-events: none;
  opacity: 1;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .has-debug_overlay .overlay {
    background: url("../assets/grid-64rem_1280px.svg") repeat-y;
    max-width: 64rem;
    background-size: 100%;
  }
}

/*	CONTAO CLASSES 
//////////////////////////////////////////////////////////////////////////////*/
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.block {
  soverflow: hidden;
}
.block:before, .block:after {
  display: table;
  content: '';
}
.block:after {
  clear: both;
}

.clear, #clear {
  height: 0.1px;
  font-size: 0.1px;
  line-height: 0.1px;
  clear: both;
}

.custom {
  display: block;
}

#container:after, .custom:after {
  content: "";
  display: table;
  clear: both;
}

/*//////////////////////////////////////////////////////////////////////////////
//	2 SECTIONS
//////////////////////////////////////////////////////////////////////////////*/
/*	HEADER 
//////////////////////////////////////////////////////////////////////////////*/
.site-header {
  margin: 1rem 0 1rem 0;
}
@media (min-width: 920px) {
  .site-header {
    margin: 2rem 0 2rem 0;
  }
}

/*	NAVIGATION 
//////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 920px) {
  .site-header .site-nav--main {
    max-width: 32rem;
    margin: 0 auto;
  }
}
@media (min-width: 920px) {
  .site-header .site-nav--main {
    margin-left: 14.5rem;
    margin-top: -3.5rem;
  }
}
@media (min-width: 640px) and (max-width: 920px) {
  .site-header .site-nav--main > ul {
    margin-left: -.5rem;
  }
}

/*	MAIN 
//////////////////////////////////////////////////////////////////////////////*/
.site-main *:last-of-type {
  smargin-bottom: 0;
}

/*	SIDEBAR 
//////////////////////////////////////////////////////////////////////////////*/
.site-sidebar {
  font-size: 0.8rem;
}
.site-sidebar button {
  width: 100%;
}
.site-sidebar h1, .site-sidebar h2, .site-sidebar h3, .site-sidebar h4, .site-sidebar h5, .site-sidebar h6 {
  margin-bottom: 0;
}

@media (min-width: 920px) {
  .site-sidebar--left {
    text-align: right;
  }
}

.site-sidebar--right .ce_form {
  padding: 0 1rem;
}
.site-sidebar--right > .block {
  position: relative;
  margin-bottom: 4rem;
}
.site-sidebar--right > .block::after {
  content: "";
  height: .5rem;
  background: #ededef;
  width: 3rem;
  position: absolute;
  left: 0;
  bottom: -2rem;
}
.site-sidebar--right > .block.last {
  margin-bottom: 0;
}
.site-sidebar--right > .block.last::after {
  display: none;
}

/*	SUB 
//////////////////////////////////////////////////////////////////////////////*/
#sub {
  background: #ededef;
  padding: 2rem 0 1rem 0;
}
@media (max-width: 920px) {
  #sub .inside {
    max-width: 34rem;
    margin: 0 auto;
  }
}
@media (min-width: 920px) {
  #sub .inside {
    padding-left: 16rem !important;
  }
}

/*	FOOTER 
//////////////////////////////////////////////////////////////////////////////*/
.site-footer {
  font-size: 0.8rem;
  padding: 2rem 0;
}
.site-footer .contactbox {
  padding-bottom: 0;
  padding-right: 1rem;
}
@media (min-width: 920px) {
  .site-footer .contactbox {
    position: absolute;
    right: 1rem;
    bottom: 0;
    width: 14rem;
  }
}
@media (max-width: 920px) {
  .site-footer .inside {
    max-width: 34rem;
    margin: 0 auto;
  }
}
@media (min-width: 920px) {
  .site-footer .inside {
    padding-left: 16rem !important;
  }
}

/*//////////////////////////////////////////////////////////////////////////////
//	3 COMPONENTS
//////////////////////////////////////////////////////////////////////////////*/
/*	BRANDING 
//////////////////////////////////////////////////////////////////////////////*/
.site-branding {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  background-image: none;
}
@media (max-width: 640px) {
  .site-branding {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.site-branding:hover {
  background-image: linear-gradient(to top, #393941, #393941 0, transparent 0);
}
.site-branding .site-branding__logo-container {
  -ms-flex-preferred-size: 14rem;
      flex-basis: 14rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 1rem;
}
@media (max-width: 920px) {
  .site-branding .site-branding__logo-container {
    -ms-flex-preferred-size: 12rem;
        flex-basis: 12rem;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.site-branding .site-branding__title-and-tagline {
  margin-top: 1rem;
  display: none;
}

/*	NAVIGATION
//////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 640px) {
  .site-nav--main {
    margin-bottom: 1rem;
    font-stretch: condensed;
  }
  .site-nav--main > ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 640px) and (max-width: 640px) {
  .site-nav--main > ul {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
@media (min-width: 640px) {
  .site-nav--main > ul > li {
    position: relative;
  }
}
@media (min-width: 640px) and (max-width: 920px) {
  .site-nav--main > ul > li {
    margin-bottom: 1rem;
  }
}
@media (min-width: 640px) {
  .site-nav--main > ul > li:hover > a {
    color: #d2232a;
  }
  .site-nav--main > ul > li > a, .site-nav--main > ul > li.active {
    display: block;
    padding: 0.25rem 0.5rem;
    font-family: "TradeGothic", arial, helvetica;
    background-image: none;
    font-size: 1.5625rem;
    line-height: 1.1;
    font-stretch: condensed;
    position: relative;
    font-weight: 700;
  }
  .site-nav--main > ul > li > a:after, .site-nav--main > ul > li.active:after {
    content: "";
    height: .5rem;
    background: #ededef;
    width: 3rem;
    position: absolute;
    left: .5rem;
    bottom: -.5rem;
  }
  .site-nav--main > ul > li.active:after, .site-nav--main > ul > li.trail a:after {
    background: #d2232a;
  }
  .site-nav--main > ul > li.active .level_2 {
    margin-top: 0.25rem;
  }
  .site-nav--main > ul .level_2 {
    position: absolute;
    display: none;
    left: -100vw;
    z-index: 9999999;
    padding-left: 100vw;
    margin-left: 0;
    border-top: 1px solid gainsboro;
  }
  .site-nav--main > ul .level_2 li a, .site-nav--main > ul .level_2 li strong.active {
    width: 200vw;
    padding: 0.1rem 0 0.1rem calc(100vw + .5rem);
    margin-left: -100vw;
    background: #ededef;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-family: "TradeGothic", arial, helvetica;
    font-size: 1rem;
    font-weight: 400;
  }
  .site-nav--main > ul .level_2 li a:hover, .site-nav--main > ul .level_2 li strong.active:hover {
    background: #d2232a;
    color: #fdfdfd;
  }
  .site-nav--main > ul .level_2:after {
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    right: 0;
    height: .5rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  }
  .site-nav--main > ul > li:hover .level_2 {
    display: block;
  }
  .site-nav--main .level_3 {
    display: none;
  }
}

.toggle-wrapper {
  max-width: 32rem;
  margin: 0 auto;
  padding: 1rem 1rem 0 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 640px) {
  .toggle-wrapper {
    display: none;
  }
}

.mobile .site-nav--main > ul > li:hover .level_2, .ios .site-nav--main > ul > li:hover .level_2 {
  display: none;
}

@media (max-width: 640px) {
  .site-nav--main {
    display: none;
    background: #ededef;
    padding: 1rem;
    margin-top: -4rem !important;
    padding-top: 5rem;
    line-height: 1.5;
    position: relative;
  }
  .site-nav--main.is-visible {
    display: block;
  }
  .site-nav--main a {
    background-image: none !important;
  }
  .site-nav--main .level_1 > li > a, .site-nav--main .level_1 > li > .active {
    font-family: "TradeGothic", arial, helvetica;
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 1.1;
    font-stretch: condensed;
  }
  .site-nav--main .level_2 {
    margin-bottom: 1rem !important;
  }
  .site-nav--main li.site-searchpage {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 3;
  }
  .site-nav--main .active {
    color: #d2232a;
  }
  .site-nav--main > .level_1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site-nav--main > .level_1 > li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.site-nav--sub {
  padding: 0 0;
  font-family: "TradeGothic", arial, helvetica;
  position: relative;
  font-size: 1.25rem;
  line-height: 1.1;
  font-stretch: condensed;
  margin-bottom: 4rem;
}
@media (max-width: 920px) {
  .site-nav--sub {
    line-height: 1.75;
  }
}
.site-nav--sub a {
  background-image: none;
}
.site-nav--sub .level_2 {
  margin-left: 1rem;
}
.site-nav--sub .active {
  color: #d2232a;
}
.site-nav--sub:after {
  content: "";
  height: .5rem;
  background: #ededef;
  width: 3rem;
  position: absolute;
  left: 0;
  bottom: -2rem;
}
@media (max-width: 640px) {
  .site-nav--sub {
    display: none;
  }
}

.site-nav--meta ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.site-nav--meta ul li {
  margin-right: 1rem;
}
@media (max-width: 640px) {
  .site-nav--meta ul li {
    margin-bottom: 0.5rem;
  }
}

/*	SEARCH
//////////////////////////////////////////////////////////////////////////////*/
.site-searchform {
  margin: 2rem 0;
}
.site-searchform .formbody {
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #393941;
}
.site-searchform .formbody:hover {
  border-color: #d2232a;
}
.site-searchform .widget-text {
  -ms-flex: 1;
      flex: 1;
}
.site-searchform .widget-text input {
  width: 100%;
}
.site-searchform .widget-submit button {
  background: none;
  border-left: 2px solid #393941;
  font-weight: 700;
  font-family: "TradeGothic", arial, helvetica;
}
.site-searchform .widget-submit button:hover {
  background: #d2232a;
  border-left-color: #d2232a;
  color: #fdfdfd;
}
.site-searchform input, .site-searchform button {
  box-shadow: none;
}

.site-nav--main li.site-searchpage {
  padding: 0 !important;
}
.site-nav--main li.site-searchpage:after {
  display: none;
}
.site-nav--main li.site-searchpage a, .site-nav--main li.site-searchpage strong.active {
  display: block;
  background-image: url("../icons/icon-search.svg") !important;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.25rem;
  height: 2.2rem;
  font-size: 0;
  line-height: 0;
  margin-left: .5rem;
}
.site-nav--main li.site-searchpage a:hover, .site-nav--main li.site-searchpage strong.active:hover {
  background-image: url("../icons/icon-search--red.svg") !important;
}
.site-nav--main li.site-searchpage a:after, .site-nav--main li.site-searchpage strong.active:after {
  display: none;
}

/*	BREADCRUMBS 
//////////////////////////////////////////////////////////////////////////////*/
.site-breadcrumbs {
  font-size: 0.8rem;
  font-family: "TradeGothic", arial, helvetica;
}
@media (max-width: 640px) {
  .site-breadcrumbs {
    display: none;
  }
}
.site-header .site-breadcrumbs {
  margin-left: 15rem;
}
.site-breadcrumbs ul {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-breadcrumbs ul li {
  color: #a6a7ac;
}
.site-breadcrumbs ul li:after {
  content: "/";
  margin: 0 .15rem;
}
.site-breadcrumbs ul li a {
  background-image: linear-gradient(to top, currentColor, currentColor 1px, transparent 1px);
  background-image: none;
  color: #a6a7ac;
}
.site-breadcrumbs ul li a:hover {
  background-image: linear-gradient(to top, currentColor, currentColor 1px, transparent 1px);
}
.site-main .site-breadcrumbs ul li.first {
  display: none;
}
.site-main .site-breadcrumbs ul li.active {
  display: none;
}
.site-breadcrumbs ul li.active:after {
  content: "";
}

/*	PAGE 
//////////////////////////////////////////////////////////////////////////////*/
.page .page__title, .page h1.ce_headline, .page .mod_article > .ce_text h1 {
  font-size: 2.44141em;
  line-height: 1.1;
  font-stretch: condensed;
  margin: 0 0 2rem 0;
  position: relative;
  padding-bottom: 1rem;
}
.page .page__title:after, .page h1.ce_headline:after, .page .mod_article > .ce_text h1:after {
  content: "";
  height: 0.5rem;
  width: 3rem;
  background: #d2232a;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  bottom: -0.5rem;
}

.page .page__title, .page h1.ce_headline, .page .mod_article > .ce_text h1 {
  margin: 0 0 2rem 0;
  position: relative;
  padding-bottom: 1rem;
  font-size: 2.44141em;
  line-height: 1.1;
  font-stretch: condensed;
}
.page .page__title:after, .page h1.ce_headline:after, .page .mod_article > .ce_text h1:after {
  content: "";
  height: 0.5rem;
  width: 3rem;
  background: #d2232a;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  bottom: -0.5rem;
}

/*	ARTICLE 
//////////////////////////////////////////////////////////////////////////////*/
.article {
  background: red;
}

/*	CLAIM
//////////////////////////////////////////////////////////////////////////////*/
.site-claim {
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.1;
  font-stretch: condensed;
  font-family: "TradeGothic", arial, helvetica;
  border-left: 0.5rem solid #d2232a;
}
.site-claim p {
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.site-claim p:last-of-type {
  margin-bottom: 0;
}
.site-claim strong {
  font-family: "TradeGothic", arial, helvetica;
}
.site-claim:before {
  content: "";
  height: 0.5rem;
  width: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #d2232a;
  display: none;
}

#main .mod_article .site-claim {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

/*	CONTACTBOX
//////////////////////////////////////////////////////////////////////////////*/
.contactbox {
  padding: 2rem;
}
.contactbox p {
  margin-bottom: 1rem;
}
@media (max-width: 920px) {
  .contactbox {
    padding: 2rem 0;
  }
}
.contactbox .contactbox__item {
  display: -ms-flexbox;
  display: flex;
}
.contactbox .contactbox__item b {
  -ms-flex-preferred-size: 3rem;
      flex-basis: 3rem;
}

/*	CORE VALUES
//////////////////////////////////////////////////////////////////////////////*/
.core-values {
  font-size: 1.95313em;
  line-height: 1.1;
  font-stretch: condensed;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.core-values:after {
  content: "";
  height: 0.5rem;
  width: 3rem;
  background: #d2232a;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}
.core-values .core-value {
  text-transform: uppercase;
  font-family: "TradeGothic", arial, helvetica;
  color: #a6a7ac;
}

/*	SLIDER
//////////////////////////////////////////////////////////////////////////////*/
/*	INFOBOX
//////////////////////////////////////////////////////////////////////////////*/
.infobox {
  margin-bottom: 1rem;
  padding: 2rem;
  border-left: 0.5rem solid #d2232a;
  margin-left: -0.5rem;
}
.infobox * {
  font-size: inherit;
  line-height: inherit;
  font-family: "TradeGothic", arial, helvetica;
}
.infobox li {
  margin: 0 0 0.5rem 0 !important;
  padding: 0 !important;
}
.infobox li::before {
  display: none !important;
}

/*	GALLERY
//////////////////////////////////////////////////////////////////////////////*/
.ce_gallery {
  margin-bottom: 1rem;
}
.ce_gallery ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -.25rem;
}
.ce_gallery ul li {
  padding: 0 0.25rem 0.5rem 0.25rem;
}
.ce_gallery .cols_1 li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.ce_gallery .cols_2 li {
  -ms-flex-preferred-size: calc(100% / 2);
      flex-basis: calc(100% / 2);
}
.ce_gallery .cols_3 li {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}
.ce_gallery .cols_4 li {
  -ms-flex-preferred-size: calc(100% / 4);
      flex-basis: calc(100% / 4);
}
.ce_gallery .cols_5 li {
  -ms-flex-preferred-size: calc(100% / 5);
      flex-basis: calc(100% / 5);
}
.ce_gallery .cols_6 li {
  -ms-flex-preferred-size: calc(100% / 6);
      flex-basis: calc(100% / 6);
}
.ce_gallery .cols_7 li {
  -ms-flex-preferred-size: calc(100% / 7);
      flex-basis: calc(100% / 7);
}
.ce_gallery .cols_8 li {
  -ms-flex-preferred-size: calc(100% / 8);
      flex-basis: calc(100% / 8);
}
.ce_gallery .cols_9 li {
  -ms-flex-preferred-size: calc(100% / 9);
      flex-basis: calc(100% / 9);
}
.ce_gallery .cols_10 li {
  -ms-flex-preferred-size: calc(100% / 10);
      flex-basis: calc(100% / 10);
}

/*	DOWNLOADS
//////////////////////////////////////////////////////////////////////////////*/
.ce_downloads {
  margin-bottom: 1rem;
}
.ce_downloads .download-element .size {
  font-size: 0.8rem;
  color: #a6a7ac;
  background-image: linear-gradient(to top, #fff, #fff 1px, transparent 1px);
}

/*	ACCORDION
//////////////////////////////////////////////////////////////////////////////*/
.ce_accordion {
  padding: 0 1rem;
}
.ce_accordion .accordion {
  opacity: 0;
  transition: opacity .3s;
  font-size: 0.8rem;
}
.ce_accordion .accordion p:last-of-type {
  margin-bottom: 0;
}
.ce_accordion .ui-accordion-content-active {
  opacity: 1;
  transition: opacity .3s;
}

.toggler {
  cursor: pointer;
  font-weight: 700;
}
.toggler:before {
  content: "";
  background-image: url("../icons/fontawesome/solid/angle-down.svg");
  position: absolute;
  margin-left: -1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  background-size: 100% 100%;
  transform: rotate(-90deg);
}
.toggler.ui-accordion-header-active:before {
  transform: rotate(0deg);
}
.toggler.ui-state-focus {
  outline: 0px solid;
}

/*	HEADLINES
//////////////////////////////////////////////////////////////////////////////*/
.site-sidebar--left .block h1.ce_headline, .site-sidebar--right .block h1.ce_headline {
  font-size: 1.95313em;
  line-height: 1.1;
  font-stretch: condensed;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.site-sidebar--left .block h1.ce_headline:after, .site-sidebar--right .block h1.ce_headline:after {
  content: "";
  height: 0.5rem;
  width: 3rem;
  background: #d2232a;
  position: absolute;
  bottom: -0.5rem;
}
.site-sidebar--left .block h2.ce_headline, .site-sidebar--right .block h2.ce_headline {
  font-size: 1.5625rem;
  line-height: 1.1;
  font-stretch: condensed;
}
.site-sidebar--left .block h3.ce_headline, .site-sidebar--right .block h3.ce_headline {
  font-size: 1.25rem;
  line-height: 1.1;
  font-stretch: condensed;
}
.site-sidebar--left h4, .site-sidebar--left h5, .site-sidebar--left h6, .site-sidebar--right h4, .site-sidebar--right h5, .site-sidebar--right h6 {
  font-size: inherit;
  line-height: inherit;
}

.site-sidebar--left .block h1.ce_headline:after {
  left: 0;
}
@media (min-width: 920px) {
  .site-sidebar--left .block h1.ce_headline:after {
    left: auto;
    right: 0;
  }
}

.site-sidebar--right .block h1.ce_headline:after {
  left: 0;
}

/*	IMAGES
//////////////////////////////////////////////////////////////////////////////*/
.ce_image {
  margin-bottom: 1rem;
}
@media (min-width: 920px) {
  .ce_image.move-left {
    margin-left: -15rem;
  }
  .ce_image.move-right {
    margin-right: -15rem;
  }
  .ce_image.position-left {
    width: 14rem;
    left: 1rem;
    position: absolute;
  }
  .ce_image.position-right {
    width: 14rem;
    right: 1rem;
    position: absolute;
  }
  .ce_image.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  .ce_image.full-width img {
    width: 100%;
  }
  .ce_image.full-width figcaption {
    text-align: center;
  }
}
.ce_image figcaption {
  font-size: 0.8rem;
  padding: 0.5rem;
  color: #a6a7ac;
}

/*	FORMS
//////////////////////////////////////////////////////////////////////////////*/
.ce_form span.mandatory {
  color: #d2232a;
}
.ce_form .widget {
  margin-bottom: 0.5rem;
}

.site-sidebar .site-contactform {
  margin-bottom: 2rem;
  font-size: 14px;
}
.site-sidebar .site-contactform input, .site-sidebar .site-contactform button, .site-sidebar .site-contactform textarea {
  width: 100%;
  font-size: 14px;
}
.site-contactform .formbody .widget label {
  display: block;
}

/*	TOPLINK
//////////////////////////////////////////////////////////////////////////////*/
.ce_toplink {
  margin-top: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  margin-top: -5rem;
}
.ce_toplink a {
  font-weight: 700;
  padding: 0.5rem 1.75rem 0.5rem 1rem;
  box-shadow: 2px 2px 0 #a6a7ac inset, -2px -2px 0 #a6a7ac inset;
  color: #a6a7ac;
  position: relative;
}
.ce_toplink a:hover {
  color: #d2232a;
  box-shadow: 2px 2px 0 #d2232a inset, -2px -2px 0 #d2232a inset;
}
.ce_toplink a:hover:after {
  background-image: url("../icons/fontawesome/solid/angle-up--red.svg");
}
.ce_toplink a:after {
  content: "";
  background-image: url("../icons/fontawesome/solid/angle-up--grey.svg");
  background-size: 100%;
  background-size: 100% 100%;
  width: 1rem;
  height: 2rem;
  font-size: 0;
  display: inline-block;
  position: absolute;
  margin-left: .15rem;
  margin-top: -.1rem;
}

/*	HYPERLINKS
//////////////////////////////////////////////////////////////////////////////*/
.ce_hyperlink a {
  margin-top: 1rem;
  display: inline-block;
}
.ce_hyperlink.button a {
  font-weight: 700;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 0 #a6a7ac inset, -2px -2px 0 #a6a7ac inset;
  color: #a6a7ac;
  position: relative;
}
.ce_hyperlink.button a:hover {
  color: #d2232a;
  box-shadow: 2px 2px 0 #d2232a inset, -2px -2px 0 #d2232a inset;
}

/*	COLORBOX
//////////////////////////////////////////////////////////////////////////////*/
#colorbox #cboxCurrent, #colorbox #cboxTitle {
  display: none !important;
}

/*	INTRO
//////////////////////////////////////////////////////////////////////////////*/
.site-intro {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
@media (max-width: 920px) {
  .site-intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 920px) {
  .site-intro {
    margin-left: -15rem;
    margin-right: -15rem;
  }
}
.site-intro .slider {
  -ms-flex-order: 2;
      order: 2;
}
@media (min-width: 920px) {
  .site-intro .slider {
    width: 47rem;
  }
}
.site-intro .slider .slides {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-intro .slider .slider__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: -2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 1;
}
.site-intro .slider .slider__nav a {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-image: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.site-intro .slider .slider__nav a:hover {
  background-color: #ededef;
  transition: background-color .5s;
}
.site-intro .slider .slider__nav a.prev {
  background-image: url("../icons/icon--arrow-left.svg");
}
.site-intro .slider .slider__nav a.next {
  background-image: url("../icons/icon--arrow-right.svg");
}
.site-intro .claim {
  -ms-flex-order: 1;
      order: 1;
  padding: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media (min-width: 920px) {
  .site-intro .claim {
    width: 15rem;
  }
}
.site-intro .claim > p {
  opacity: 0;
}
.site-intro .claim > p.is-visible {
  opacity: 1;
  transition: opacity .5s;
}
.site-intro .claim > p:last-of-type {
  margin-bottom: 0;
}
.site-intro .core-values {
  -ms-flex-order: 3;
      order: 3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 15rem;
  margin-bottom: 0;
  text-align: right;
  padding: 1rem;
  padding-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  z-index: 2;
}
.site-intro .core-values::after {
  bottom: 0;
  left: auto;
  right: 1rem;
}
.site-intro .core-values .core-value {
  color: #fdfdfd;
  text-shadow: 0 1px 1px #000;
}

.slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.slides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.slides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.slides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/*
.site-intro {
    
    .site-intro__slides {
        order: 2;
        width: 47rem;
    }
    .site-intro__values {
        order: 1;
        width: 15rem;
        
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        
        
    }
}

.rslides {
    position: relative;
    list-style: none;
    width: 100%;
    width: calc(100% + 15rem);
    padding: 0 !important;
    left: 15rem;
    @include clearfix;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.site-slider--intro {
    position: relative;
    figure {
        figcaption {
            width: 15rem;
            padding: $spacing-m;
            position: absolute;
            top: 0;
            left: -15rem;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .55);
            @include text-l;
            font-family: $font-stack-display;
        }
    }
}*/
/*  HAMBURGER ICON
//////////////////////////////////////////////////////////////////////////////////////////////// */
.hamburger {
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity;
  background: #fdfdfd;
  color: #393941;
  height: 2.5rem;
}
.hamburger:hover {
  color: #fdfdfd;
}
.hamburger:hover .hamburger__inner, .hamburger:hover .hamburger__inner::before, .hamburger:hover .hamburger__inner::after, .hamburger.is-active .hamburger__inner, .hamburger.is-active .hamburger__inner::before, .hamburger.is-active .hamburger__inner::after {
  color: #fdfdfd !important;
}

.hamburger__box {
  position: relative;
  display: inline-block;
  padding: 2px 15px 9px 0;
  margin-right: 5px;
}

.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -1px;
}
.hamburger__inner, .hamburger__inner::before, .hamburger__inner::after {
  position: absolute;
  width: 16px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 2px;
  background-color: #393941;
}
.hamburger__inner::before, .hamburger__inner::after {
  display: block;
  content: '';
}
.hamburger__inner::before {
  top: -4px;
}
.hamburger__inner::after {
  bottom: -4px;
}

.hamburger--collapse .hamburger__inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .1s;
}
.hamburger--collapse .hamburger__inner::before {
  transition: top .1s .14s ease, opacity .1s ease;
}
.hamburger--collapse .hamburger__inner::after {
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger__inner {
  transition-delay: .14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(45deg);
}
.hamburger--collapse.is-active .hamburger__inner::before {
  top: 0;
  transition: top .1s ease, opacity .1s .14s ease;
  opacity: 0;
}
.hamburger--collapse.is-active .hamburger__inner::after {
  bottom: 0;
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-90deg);
}

/*//////////////////////////////////////////////////////////////////////////////
//	4 LAYOUT
//////////////////////////////////////////////////////////////////////////////*/
/*	DEFAULT PAGE LAYOUT 
//////////////////////////////////////////////////////////////////////////////*/
.site-header .inside, #sub .inside, .site-footer .inside, .site-container .inside {
  padding: 0 1rem;
  position: relative;
}

.site-main {
  margin: 1rem 0 4rem 0;
}

@media (max-width: 640px) {
  .site-sidebar {
    margin-bottom: 3rem;
  }
}
@media (min-width: 920px) {
  .site-sidebar {
    margin: 1rem 0 3rem 0;
  }

  .site-main {
    margin: 1rem 1rem 4rem 1rem;
  }
}
@media (max-width: 920px) {
  .site-container .inside {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .site-container .inside .site-main {
    -ms-flex-preferred-size: 32rem;
        flex-basis: 32rem;
    -ms-flex-order: 1;
        order: 1;
  }
  .site-container .inside .site-sidebar--left {
    -ms-flex-preferred-size: 32rem;
        flex-basis: 32rem;
    -ms-flex-order: 2;
        order: 2;
  }
  .site-container .inside .site-sidebar--right {
    -ms-flex-preferred-size: 32rem;
        flex-basis: 32rem;
    -ms-flex-order: 3;
        order: 3;
  }
}
@media (min-width: 920px) {
  .site-header .inside, #sub .inside, .site-footer .inside, .site-container .inside {
    margin: 0 auto;
    width: 64rem;
  }

  .site-container .inside {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .site-container .inside .site-main {
    width: 32rem;
    -ms-flex-order: 2;
        order: 2;
  }
  .site-container .inside .site-sidebar--left {
    width: 14rem;
    -ms-flex-order: 1;
        order: 1;
  }
  .site-container .inside .site-sidebar--right {
    width: 14rem;
    -ms-flex-order: 3;
        order: 3;
  }
}
/*	STICKY FOOTER 
//////////////////////////////////////////////////////////////////////////////*/
#wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
}
#wrapper #container {
  sflex: 1;
}
#wrapper #footer {
  -ms-flex: 1;
      flex: 1;
}

/*	PRINT 
//////////////////////////////////////////////////////////////////////////////*/
/*	FRONTPAGE 
//////////////////////////////////////////////////////////////////////////////*/
.startseite .page__title, .startseite .site-breadcrumbs {
  display: none;
}

.startseite .site-sidebar--right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
