////////////////////////////////////////////////////////////////////////////////
//  
//	WAGNIS                                       
//
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
//	0 SETTINGS
////////////////////////////////////////////////////////////////////////////////
@import "0_settings/variables";
@import "0_settings/functions";
@import "0_settings/mixins";

/*//////////////////////////////////////////////////////////////////////////////
//	1 BASE
//////////////////////////////////////////////////////////////////////////////*/

@import "1_base/generic";
@import "1_base/typography";
@import "1_base/spacing";
@import "1_base/forms";
@import "1_base/tables";
@import "1_base/lists";
@import "1_base/links";
@import "1_base/media";
@import "1_base/slabs";
@import "1_base/helpers";
@import "1_base/contao";

/*//////////////////////////////////////////////////////////////////////////////
//	2 SECTIONS
//////////////////////////////////////////////////////////////////////////////*/

@import "2_sections/header";
@import "2_sections/navigation";
@import "2_sections/main";
@import "2_sections/sidebar";
@import "2_sections/sub";
@import "2_sections/footer";

/*//////////////////////////////////////////////////////////////////////////////
//	3 COMPONENTS
//////////////////////////////////////////////////////////////////////////////*/

@import "3_components/branding";
@import "3_components/navigation";
@import "3_components/search";
@import "3_components/breadcrumbs";
@import "3_components/page";
@import "3_components/article";
@import "3_components/claim";
@import "3_components/contactbox";
@import "3_components/core-values";
@import "3_components/slider";
@import "3_components/infobox";
@import "3_components/ce_gallery";
@import "3_components/ce_downloads";
@import "3_components/ce_accordion";
@import "3_components/ce_headline";
@import "3_components/ce_image";
@import "3_components/ce_form";
@import "3_components/ce_toplink";
@import "3_components/ce_hyperlink";
@import "3_components/colorbox";
@import "3_components/intro";
@import "3_components/hamburger";

/*//////////////////////////////////////////////////////////////////////////////
//	4 LAYOUT
//////////////////////////////////////////////////////////////////////////////*/

@import "4_layout/default";
@import "4_layout/sticky-footer.scss";
@import "4_layout/media-print";
@import "4_layout/page-front";
////////////////////////////////////////////////////////////////////////////////
//	TEMPORARY STYLES
////////////////////////////////////////////////////////////////////////////////
.startseite .site-sidebar--right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}