//	VARIABLES 
////////////////////////////////////////////////////////////////////////////////
// colors //////////////////////////////////////////////////////////////////////
$red: rgb(210, 35, 42);
$black: rgb(0, 0, 0);
$grey: rgb(57, 57, 65);
$grey-light: rgb(166, 167, 172);
$grey-lighter: rgb(237, 237, 239);
$white: rgb(253, 253, 253);
$accent: $red;
// breakpoints /////////////////////////////////////////////////////////////////
$breakpoint-s: 640;
$breakpoint-m: 920;
$breakpoint-l: 1280;
$breakpoint-xl: 1800;
// grid ////////////////////////////////////////////////////////////////////////
$page-width: 64rem;
$sidebar-width: 14rem;
$main-width: 32rem;
// spacings ////////////////////////////////////////////////////////////////////
$spacing-xs: .25rem;
$spacing-s: .5rem;
$spacing-m: 1rem;
$spacing-l: 2rem;
$spacing-xl: 4rem;
$spacing-xxl: 8rem;
// font stacks /////////////////////////////////////////////////////////////////
$font-stack-display: 'TradeGothic', arial, helvetica;
$font-stack-copy: 'Open Sans', arial, helvetica, sans-serif;
$font-stack-code: monospace;
// font sizes //////////////////////////////////////////////////////////////////
$font-size-s: 12px;
$font-size-min: 16;
$font-size-max: 20;
// line heights ////////////////////////////////////////////////////////////////
$line-height-s: 1.1;
$line-height-m: 1.25;
$line-height-l: 1.75;
// font weights ////////////////////////////////////////////////////////////////
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
// typographic scale ///////////////////////////////////////////////////////////
$scale: 1.25;