/*	FOOTER 
//////////////////////////////////////////////////////////////////////////////*/

.site-footer {
    @extend .slab--red;
    @include text-s;
    padding: $spacing-l 0;
    @media (max-width: 920px) {
        padding-bottom: $spacing-m;
    }
    .inside {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 920px) {
            max-width: 34rem;
            margin: 0 auto;
        }
        @media (min-width: 920px) {
            padding-left: 16rem !important;
        }
    }
    .contactbox {
        padding-bottom: 0;
        padding-right: $spacing-m;
        @media (min-width: 920px) {
            position: absolute;
            right: $spacing-m;
            bottom: 0;
            width: 14rem;
        }
    }
}
