/*	HEADER 
//////////////////////////////////////////////////////////////////////////////*/

.site-header {
    margin: $spacing-m 0 $spacing-m 0;

    @media (min-width: 920px) {
        margin: 1.5rem 0 $spacing-m 0;
    }
}
