/*	NAVIGATION 
//////////////////////////////////////////////////////////////////////////////*/

/*  MOBILE ///////////////////////////////////////////////////////////////////*/

@media (max-width: 640px) {
    .site-breadcrumbs {
        display: none;
    }
}

/*  TABLET ///////////////////////////////////////////////////////////////////*/

.tablet {
    .site-header .site-nav--main {
        display: flex;
        justify-content: center;
        > ul {
            margin-left: -1rem;
            flex-basis: 32rem;
            justify-content: space-between;
        }
    }
}

/*  DESKTOP //////////////////////////////////////////////////////////////////*/

@media (min-width: 920px) {
    .site-header .site-nav--main {
        margin-left: 14.5rem;
        margin-top: -2rem;
    }
}
