/*	SIDEBAR 
//////////////////////////////////////////////////////////////////////////////*/

.site-sidebar {
    @include text-s;
    button {
        width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
}

.site-sidebar--left {
    @media (min-width: 920px) {
        text-align: right;
    }
}

.site-sidebar--right {
    > .block {
        position: relative;
        margin-bottom: 4rem;
        @media (max-width: 920px) {
            margin-bottom: 0;
        }
        &:after {
            @media (max-width: 920px) {
                display: none;
            }
        }
    }
    > .block::after {
        @include grey-bar;
        left: 0;
        bottom: -2rem;
    }
    > .block.last {
        margin-bottom: 0;
    }
    > .block.last::after {
        display: none;
    }
}
