/*	SUB 
//////////////////////////////////////////////////////////////////////////////*/

#sub {
    background: $grey-lighter;
    padding: 2rem 0 1rem 0;
    .inside {
        @media (max-width: 920px) {
            max-width: 34rem;
            margin: 0 auto;
        }
        @media (min-width: 920px) {
            padding-left: 16rem !important;
        }
    }
}