/*	BRANDING 
//////////////////////////////////////////////////////////////////////////////*/

.site-branding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    background-image: none;
    @media (max-width: 640px) {
        justify-content: center;
    }
    &:hover {
        background-image: linear-gradient(to top, $grey, $grey 0, transparent 0);
    }
    .site-branding__logo-container {
        @media (max-width: 920px) {
            flex-basis: 12rem;
            flex-shrink: 1;
            margin-right: 0;
            margin-bottom: $spacing-m;
        }
        flex-basis: 14rem;
        flex-shrink: 0;
        margin-right: $spacing-m;
    }
    .site-branding__logo {}
    .site-branding__logo--fallback {}
    .site-branding__title-and-tagline {
        margin-top: $spacing-m;
        display: none;
    }
    .site-branding__title {}
    .site-branding__tagline {}
}