/*	BREADCRUMBS 
//////////////////////////////////////////////////////////////////////////////*/

.site-breadcrumbs {
    @include text-s;
    font-family: $font-stack-display;
    @media (max-width: 640px) {
        display: none;
    }
    .site-header & {
        margin-left: 15rem;
    }
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: $grey-light;
            &:after {
                content: "/";
                margin: 0 .15rem;
            }
            a {
                background-image: linear-gradient(to top, currentColor, currentColor 1px, transparent 1px);
                background-image: none;
                color: $grey-light;
                &:hover {
                    background-image: linear-gradient(to top, currentColor, currentColor 1px, transparent 1px);
                }
            }
        }
        li.first {
            .site-main & {
                display: none;
            }
        }
        li.active {
            .site-main & {
                display: none;
            }
            span {}
            &:after {
                content: "";
            }
        }
    }
}