/*	DOWNLOADS
//////////////////////////////////////////////////////////////////////////////*/

.ce_downloads {
    @include margin;
    .download-element {
        .size {
            @include text-s;
            color: $grey-light;
            background-image: linear-gradient(to top, #fff, #fff 1px, transparent 1px)
        }
    }
    .ext-pdf {}
}