/*	HYPERLINKS
//////////////////////////////////////////////////////////////////////////////*/

.ce_hyperlink {
    a {
        margin-top: $spacing-m;
        display: inline-block;
    }
    &.button a {
        font-weight: $font-weight-bold;
        padding: $spacing-s $spacing-m;
        box-shadow: 2px 2px 0 $grey-light inset, -2px -2px 0 $grey-light inset;
        color: $grey-light;
        position: relative;
        &:hover {
            color: $red;
            box-shadow: 2px 2px 0 $red inset, -2px -2px 0 $red inset;
        }
    }
    &.button--red a {}
}