/*	HEADLINES
//////////////////////////////////////////////////////////////////////////////*/

.site-sidebar--left, .site-sidebar--right {
    .block h1.ce_headline {
        @include text-xxl;
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        &:after {
            @include red-bar;
        }
    }
    .block h2.ce_headline {
        @include text-xl;
    }
    .block h3.ce_headline {
        @include text-l;
    }
    h4, h5, h6 {
        @include text-m;
    }
}

.site-sidebar--left {
    .block h1.ce_headline {
        &:after {
            left: 0;
            @media (min-width: 920px) {
                left: auto;
                right: 0;
            }
        }
    }
}

.site-sidebar--right {
    .block h1.ce_headline {
        &:after {
            left: 0;
        }
    }
}