/*	IMAGES
//////////////////////////////////////////////////////////////////////////////*/

.ce_image {
    @include margin;
    @media (min-width: 920px) {
        &.move-left {
            margin-left: -15rem;
        }
        &.move-right {
            margin-right: -15rem;
        }
        &.position-left {
            width: 14rem;
            left: 1rem;
            position: absolute;
        }
        &.position-right {
            width: 14rem;
            right: 1rem;
            position: absolute;
        }
        &.full-width {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            img {
                width: 100%;
            }
            figcaption {
                text-align: center;
            }
        }
    }
    figcaption {
        @include text-s;
        padding: $spacing-s;
        color: $grey-light;
    }
}