/*	TOPLINK
//////////////////////////////////////////////////////////////////////////////*/

.ce_toplink {
    margin-top: $spacing-l;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -5rem;
    a {
        font-weight: $font-weight-bold;
        padding: $spacing-s 1.75rem $spacing-s $spacing-m;
        box-shadow: 2px 2px 0 $grey-light inset, -2px -2px 0 $grey-light inset;
        color: $grey-light;
        position: relative;
        &:hover {
            color: $red;
            box-shadow: 2px 2px 0 $red inset, -2px -2px 0 $red inset;
            &:after {
                background-image: url('../icons/fontawesome/solid/angle-up--red.svg');
            }
        }
        &:after {
            content: "";
            background-image: url('../icons/fontawesome/solid/angle-up--grey.svg');
            background-size: 100%;
            background-size: 100% 100%;
            width: 1rem;
            height: 2rem;
            font-size: 0;
            display: inline-block;
            position: absolute;
            margin-left: .15rem;
            margin-top: -.1rem;
        }
    }
}