/*	CLAIM
//////////////////////////////////////////////////////////////////////////////*/

.site-claim {
    @extend .slab--grey-lighter;
    padding: $spacing-m;
    position: relative;
    @include margin;
    @include text-l;
    font-family: $font-stack-display;
    border-left: $spacing-s solid $red;
    p {
        margin: 0 auto;
        margin-bottom: $spacing-s;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    strong {
        font-family: $font-stack-display;
    }
    &:before {
        content: "";
        height: $spacing-s;
        width: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        background: $red;
        display: none;
    }
}

#main .mod_article {
    .site-claim {
        margin-left: -.5rem;
        margin-right: -.5rem;
    }
}