/*	CONTACTBOX
//////////////////////////////////////////////////////////////////////////////*/

.contactbox {
    padding: $spacing-l;
    @extend .slab--red;
    p {
        @include margin;
    }
    @media (max-width: 920px) {
        padding: $spacing-l 0;
    }
    .contactbox__item {
        display: flex;
        b {
            flex-basis: 3rem;
        }
    }
}