/*	CORE VALUES
//////////////////////////////////////////////////////////////////////////////*/

.core-values {
    @include text-xxl;
    position: relative;
    padding-bottom: $spacing-m;
    margin-bottom: $spacing-l;
    font-weight: $font-weight-bold;
    &:after {
        content: "";
        height: 0.5rem;
        width: 3rem;
        background: #d2232a;
        position: absolute;
        left: 0;
        bottom: -0.5rem;
    }
    .core-value {
        text-transform: uppercase;
        font-family: $font-stack-display;
        color: $grey-light;
    }
}