/*	INFOBOX
//////////////////////////////////////////////////////////////////////////////*/

.infobox {
    @extend .slab--grey-lighter;
    @include margin;
    padding: $spacing-l;
    border-left: $spacing-s solid $red;
    margin-left: -$spacing-s;
    * {
        @include text-m;
        font-family: $font-stack-display;
    }
    li {
        margin: 0 0 $spacing-s 0!important;
        padding: 0 !important;
    }
    li::before {
        display: none !important;
    }
}