/*	INTRO
//////////////////////////////////////////////////////////////////////////////*/

.site-intro {
    @extend .slab--grey-lighter;
    display: flex;
    position: relative;
    @media (max-width: 920px) {
        flex-wrap: wrap;
    }
    @media (min-width: 920px) {
        margin-left: -15rem;
        margin-right: -15rem;
    }
    margin-bottom: $spacing-l;
    .slider {
        order: 2;
        @media (min-width: 920px) {
            width: 47rem;
        }
        .slides {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .slider__nav {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            bottom: -2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            z-index: 1;
            a {
                display: block;
                font-size: 0;
                line-height: 0;
                width: $spacing-l;
                height: $spacing-l;
                background-color: transparent;
                background-image: none;
                background-size: 50% 50%;
                background-repeat: no-repeat;
                background-position: center center;
                &:hover {
                    background-color: $grey-lighter;
                    transition: background-color .5s;
                }
                &.prev {
                    background-image: url('../icons/icon--arrow-left.svg');
                }
                &.next {
                    background-image: url('../icons/icon--arrow-right.svg');
                }
            }
        }
    }
    .claim {
        order: 1;
        @media (min-width: 920px) {
            width: 15rem;
        }
        padding: $spacing-m;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >p {
            opacity: 0;
            &.is-visible {
                opacity: 1;
                transition: opacity .5s;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .core-values {
        order: 3;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 15rem;
        margin-bottom: 0;
        text-align: right;
        padding: $spacing-m;
        padding-bottom: $spacing-l;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 2;
        &::after {
            bottom: 0;
            left: auto;
            right: $spacing-m;
        }
        .core-value {
            color: $white;
            text-shadow: 0 1px 1px #000;
        }
    }
}

.slides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.slides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.slides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.slides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}


/*
.site-intro {
    
    .site-intro__slides {
        order: 2;
        width: 47rem;
    }
    .site-intro__values {
        order: 1;
        width: 15rem;
        
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        
        
    }
}

.rslides {
    position: relative;
    list-style: none;
    width: 100%;
    width: calc(100% + 15rem);
    padding: 0 !important;
    left: 15rem;
    @include clearfix;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.site-slider--intro {
    position: relative;
    figure {
        figcaption {
            width: 15rem;
            padding: $spacing-m;
            position: absolute;
            top: 0;
            left: -15rem;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .55);
            @include text-l;
            font-family: $font-stack-display;
        }
    }
}*/