/*	NAVIGATION
//////////////////////////////////////////////////////////////////////////////*/

.site-nav--main {
    @media (min-width: 640px) {
        @include margin;
        font-stretch: condensed;
        >ul {
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 640px) {
                justify-content: center;
            }
            >li {
                position: relative;
                @media (max-width: 920px) {
                    margin-bottom: $spacing-m;
                }
                &:hover>a {
                    color: $red;
                }
                >a, &.active {
                    display: block;
                    padding: $spacing-xs $spacing-s;
                    font-family: $font-stack-display;
                    background-image: none;
                    @include text-xl;
                    position: relative;
                    font-weight: $font-weight-bold;
                    &:after {
                        @include grey-bar;
                        left: .5rem;
                        bottom: -.5rem;
                    }
                }
                &.active:after, &.trail a:after {
                    background: $red;
                }
                &.active .level_2 {
                    margin-top: $spacing-xs;
                }
            }
            .level_2 {
                position: absolute;
                display: none;
                left: -100vw;
                z-index: 9999999;
                padding-left: 100vw;
                margin-left: 0;
                border-top: 1px solid rgb(220, 220, 220);
                li {
                    a, strong.active {
                        width: 200vw;
                        padding: .1rem 0 .1rem calc(100vw + .5rem);
                        margin-left: -100vw;
                        background: $grey-lighter;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        display: block;
                        font-family: $font-stack-display;
                        font-size: 1rem;
                        font-weight: $font-weight-normal;
                        &:hover {
                            background: $red;
                            color: $white;
                        }
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -.5rem;
                    left: 0;
                    right: 0;
                    height: .5rem;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
                }
            }
            >li:hover .level_2 {
                display: block;
            }
        }
        .level_2 {
            li, a {}
        }
        .level_3 {
            display: none;
        }
    }
}

// mobile nav
.toggle-wrapper {
    @media (min-width: 640px) {
        display: none;
    }
    max-width: 32rem;
    margin: 0 auto;
    padding: 1rem 1rem 0 0;
    position: relative;
    z-index: 1;
}

.mobile, .ios {
    .site-nav--main {
        >ul>li:hover .level_2 {
            display: none;
        }
    }
}

@media (max-width: 640px) {
    .site-nav--main {
        display: none;
        background: $grey-lighter;
        padding: $spacing-m;
        margin-top: -4rem !important;
        padding-top: 5rem;
        line-height: 1.5;
        position: relative;
        &.is-visible {
            display: block;
        }
        a {
            background-image: none !important;
        }
        .level_1>li>a, .level_1>li>.active {
            font-family: $font-stack-display;
            font-weight: $font-weight-bold;
            @include text-xl;
        }
        .level_2 {
            margin-bottom: $spacing-m !important;
        }
        li.site-searchpage {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            z-index: 3;
        }
        .active {
            color: $red;
        }
        >.level_1 {
            display: flex;
            flex-wrap: wrap;
            >li {
                flex-basis: 50%;
            }
        }
    }
}

//subnav
.site-nav--sub {
    padding: 0 0;
    font-family: $font-stack-display;
    position: relative;
    @include text-l;
    margin-bottom: 4rem;
    @media (max-width: 920px) {
        line-height: $line-height-l;
    }
    a {
        background-image: none;
    }
    .level_2 {
        margin-left: $spacing-m;
        a, span.active {}
    }
    .active {
        color: $red;
    }
    &:after {
        @include grey-bar;
        left: 0;
        bottom: -$spacing-l;
    }
    @media (max-width: 640px) {
        display: none;
    }
}

.site-nav--meta {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            margin-right: $spacing-m;
            @media (max-width: 640px) {
                margin-bottom: $spacing-s;
            }
        }
        a {}
    }
}