/*	SEARCH
//////////////////////////////////////////////////////////////////////////////*/

.site-searchform {
    margin: $spacing-l 0;
    .formbody {
        display: flex;
        border: 2px solid $grey;
        &:hover {
            border-color: $red;
        }
    }
    .widget-text {
        flex: 1;
        input {
            width: 100%;
        }
    }
    .widget-submit {
        button {
            background: none;
            border-left: 2px solid $grey;
            font-weight: $font-weight-bold;
            font-family: $font-stack-display;
            &:hover {
                background: $red;
                border-left-color: $red;
                color: $white;
            }
        }
    }
    input, button {
        box-shadow: none;
    }
}

.site-nav--main {
    li.site-searchpage {
        padding: 0 !important;
        &:after {
            display: none;
        }
        a, strong.active {
            display: block;
            background-image: url('../icons/icon-search.svg') !important;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 1.25rem;
            height: 2.2rem;
            font-size: 0;
            line-height: 0;
            margin-left: .5rem;
            &:hover {
                background-image: url('../icons/icon-search--red.svg') !important;
            }
            &:after {
                display: none;
            }
        }
    }
}