/*	BRANDING 
//////////////////////////////////////////////////////////////////////////////*/

.site-branding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    background-image: none;
    @media (min-width: 640px) and (max-width: 750px) {
        justify-content: center;
    }
    @media (max-width: 640px) {
        justify-content: flex-end;
    }
    .site-branding__logo-container {
        flex-basis: 14rem;
        flex-shrink: 0;
        @media (max-width: 920px) {
            flex-basis: 11rem;
            flex-shrink: 1;
            margin-right: 0;
        }

        @media (max-width: 640px) {
            flex-basis: 6rem;
        }
    }
    .site-branding__title-and-tagline {
        margin-top: $spacing-m;
        display: none;
    }
}
