/*	BREADCRUMBS 
//////////////////////////////////////////////////////////////////////////////*/

.site-breadcrumbs {
    @include text-s;
    height: 0.9rem;
    margin-bottom: 0.25rem;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: $grey-light;
            &:after {
                content: "/";
                margin: 0 0.15rem;
            }
            a {
                text-decoration: none;
                color: $grey-light;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li.first {
            .site-main & {
                display: none;
            }
        }
        li.active {
            .site-main & {
                display: none;
            }
            &:after {
                content: "";
            }
        }
    }
}
