/*	CALENDAR 
//////////////////////////////////////////////////////////////////////////////*/

.calendar {
    margin-bottom: 3.5rem !important;
    position: relative;
    &:after {
        @include grey-bar;
        bottom: -2rem;
    }
    > .event {
        position: relative;
        border-bottom: 1px solid $grey-lighter;
        display: flex;
        justify-content: space-between;
        padding: $spacing-xs 0;
        &:last-of-type {
            border: none;
        }
        .event--date {
            order: 2;
        }
        .event--title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: $font-stack-tdn700;
            @include text-l;
            line-height: 1;
            order: 3;
            text-align: right;
            @include td700c;
        }
    }
}

.event--date {
    display: flex;

    .date--start {
        display: flex;
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1rem;
            order: 1;
            margin-right: $spacing-s;
        }
    }
    .date--end {
    }
    .date--day_month {
        @include text-s;
        width: 3rem;
        min-width: 3rem;
        height: 3rem;
        border-radius: 100%;
        margin-right: $spacing-s;
        background: $grey-lighter;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include td700c;
        order: 1;
        .date--day {
            @include td300c;
            font-size: 1rem;
        }
        .date--month {
            margin-top: 1px;
            span {
                border-top: 1px solid $grey;
            }
        }
    }
    .date--weekday_time {
        display: flex;
        .date--weekday {
            @include td300c;
            margin-right: $spacing-xs;
        }
        .date--time {
            color: $grey-light;
            @include td300c;
        }
    }
    .event--location {
        @include td700c;
    }
}
