/*	CARDS
//////////////////////////////////////////////////////////////////////////////*/

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}
.card {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    padding: 0.5rem;
    @media (max-width: 480px) {
        flex-basis: 100%;
    }
    @include margin;
    > *:first-of-type {
        flex: 1;
    }
}
