/*	ACCORDION
//////////////////////////////////////////////////////////////////////////////*/

.ce_accordion {
    padding: 0 $spacing-m;
    .accordion {
        opacity: 0;
        transition: opacity .3s;
        @include text-s;
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    .ui-accordion-content-active {
        opacity: 1;
        transition: opacity .3s;
    }
}

.ce_accordionSingle {}

.toggler {
    cursor: pointer;
    font-weight: $font-weight-bold;
    &:before {
        content: "";
        background-image: url('../icons/fontawesome/solid/angle-down.svg');
        position: absolute;
        margin-left: -1.25rem;
        height: 1.25rem;
        width: 1.25rem;
        background-size: 100% 100%;
        transform: rotate(-90deg);
    }
    &.ui-accordion-header-collapsed:before {}
    &.ui-accordion-header-active:before {
        transform: rotate(0deg);
    }
    &.ui-state-focus {
        outline: 0px solid;
    }
}