/*	DOWNLOADS
//////////////////////////////////////////////////////////////////////////////*/

.ce_download,
.ce_downloads {
    .download-element {
        .size {
            @include text-s;
            color: $grey-light;
            display: none;
        }
    }
    a[href$=".pdf"] {
        &:after {
            content: "(.pdf)";
            background-image: url("../icons/fontawesome/regular/file-pdf.svg");
            background-size: 100%;
            background-size: 100% 100%;
            width: 1rem;
            height: 1rem;
            font-size: 0;
            display: inline-block;
            position: absolute;
            margin-top: 0.15rem;
            margin-left: 0.15rem;
        }
    }
}

.mobile .download-element .size {
    display: inherit;
}
