/*	FORMS
//////////////////////////////////////////////////////////////////////////////*/

.ce_form {
    span.mandatory {
        color: $red;
    }
    .widget {
        margin-bottom: $spacing-s;
    }
}

.site-contactform {
    .site-sidebar & {
        margin-bottom: $spacing-l;
        @include text-xs;
        input,
        button,
        textarea {
            width: 100%;
            @include text-xs;
        }
    }
    .formbody {
        .widget {
            label {
                display: block;
            }
        }
    }
    .site-contactform__message textarea {
        height: 15rem;
    }
}
