/*	GALLERY
//////////////////////////////////////////////////////////////////////////////*/

.ce_gallery {
    @include margin;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 -.25rem;
        li {
            padding: 0 $spacing-xs $spacing-s $spacing-xs;
        }
    }
    .cols_1 {
        li {
            flex-basis: 100%;
        }
    }
    .cols_2 {
        li {
            flex-basis: calc(100% / 2);
        }
    }
    .cols_3 {
        li {
            flex-basis: calc(100% / 3);
        }
    }
    .cols_4 {
        li {
            flex-basis: calc(100% / 4);
        }
    }
    .cols_5 {
        li {
            flex-basis: calc(100% / 5);
        }
    }
    .cols_6 {
        li {
            flex-basis: calc(100% / 6);
        }
    }
    .cols_7 {
        li {
            flex-basis: calc(100% / 7);
        }
    }
    .cols_8 {
        li {
            flex-basis: calc(100% / 8);
        }
    }
    .cols_9 {
        li {
            flex-basis: calc(100% / 9);
        }
    }
    .cols_10 {
        li {
            flex-basis: calc(100% / 10);
        }
    }
}