/*	IMAGES
//////////////////////////////////////////////////////////////////////////////*/

.ce_image,
figure {
    &.full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        img {
            width: 100%;
        }
        figcaption {
            text-align: center;
        }
        &:last-of-type {
            margin-bottom: -5rem;
        }
    }
    figcaption {
        @include text-xs;
        padding: $spacing-s 0;
        color: $grey;
        text-align: right;
    }
}

@media (min-width: 920px) {
    .move-left {
        margin-left: -15rem;
    }
    .move-right {
        margin-right: -15rem;
    }
    .position-left {
        width: 14rem;
        left: 1rem;
        position: absolute;
    }
    .position-right {
        width: 14rem;
        right: 1rem;
        position: absolute;
    }
    .randabfallend--links {
        margin-left: calc((100vw - 62rem) / 2 * -1);
    }
}
