/*	TOPLINK
//////////////////////////////////////////////////////////////////////////////*/

.ce_toplink {
    position: absolute;
    margin-top: -3.5rem;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    a {
        width: 2.5rem;
        height: 1.5rem;
        background-color: $grey-lighter;
        background-image: url("../icons/angle-up--grey.svg");
        background-size: 1rem;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 2.5rem;
            height: 1.5rem;
            content: "";
            background-image: url("../icons/angle-up--red.svg");
            background-size: 1rem;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0;
        }
        &:hover::after {
            opacity: 1;
        }
    }
}
