/*	COLORBOX
//////////////////////////////////////////////////////////////////////////////*/

#colorbox {
    button {
        box-shadow: none !important;
    }
    button:hover {
        background-color: transparent !important;
    }
    #cboxCurrent,
    #cboxTitle {
        display: none !important;
    }
    #cboxClose,
    #cboxPrevious,
    #cboxNext {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0;
        line-height: 0;
        background-size: 100% 100%;
        &:before {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            position: relative;
            top: 0;
            display: block;
        }
    }
    #cboxClose {
        top: 10px;
        right: 10px;
        background: url(../icons/close.svg) no-repeat center center;
        &:hover:before {
            background: url(../icons/close--red.svg) no-repeat center center;
        }
    }
    #cboxPrevious {
        top: 50%;
        left: 10px;
        margin-top: -0.75rem;
        background: url(../icons/arrow--left.svg) no-repeat center center;
        height: 2rem;
        &:before {
            height: 2rem;
        }
        &:hover:before {
            background: url(../icons/arrow--left--red.svg) no-repeat center
                center;
        }
    }
    #cboxNext {
        top: 50%;
        right: 10px;
        margin-top: -0.75rem;
        background: url(../icons/arrow--right.svg) no-repeat center center;
        height: 2rem;
        &:before {
            height: 2rem;
        }
        &:hover:before {
            background: url(../icons/arrow--right--red.svg) no-repeat center
                center;
        }
    }
}
