/*	CONTACTBOX
//////////////////////////////////////////////////////////////////////////////*/

.contactbox {
    padding: $spacing-l;
    @extend .slab--red;
    p {
        @include margin;
    }
    @media (max-width: 920px) {
        padding: $spacing-m 0 0 0 !important;
        width: 100%;
        .cols {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .col {
                padding-right: 2rem;
            }
        }
    }

    table {
        border-top: none;
        th,
        td {
            padding-top: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}
