/*	CORE VALUES
//////////////////////////////////////////////////////////////////////////////*/

.core-values {
    @include text-xxl;
    position: relative;
    margin-bottom: $spacing-l;
    padding-bottom: $spacing-m;
    font-weight: $font-weight-normal;
    &:after {
        @include red-bar;
        left: 0;
        bottom: -0.5rem;
    }
    .core-value {
        text-transform: uppercase;
        font-weight: $font-weight-normal;
        @include td700c;
        color: $grey-light;
    }
}
