/*  HAMBURGER ICON
///////////////////////////////////////////////////////////////////////////// */

$hamburger-layer-width: 16px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 2px !default;
$hamburger-layer-color: $grey !default;
$hamburger-layer-border-radius: 2px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
.hamburger {
    transition-timing-function: $hamburger-hover-transition-timing-function;
    transition-duration: $hamburger-hover-transition-duration;
    transition-property: opacity;
    background: $white;
    color: $grey;
    sheight: 2.5rem;
    &:hover {
        color: $white;
    }
    &:hover,
    &.is-active {
        .hamburger__inner {
            &,
            &::before,
            &::after {
                color: $white !important;
            }
        }
    }
}

.hamburger__box {
    position: relative;
    display: inline-block;
    padding: 2px 15px 9px 0;
    margin-right: 5px;
}

.hamburger__inner {
    top: 50%;
    display: block;
    margin-top: $hamburger-layer-height / -2;
    &,
    &::before,
    &::after {
        position: absolute;
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
        border-radius: $hamburger-layer-border-radius;
        background-color: $hamburger-layer-color;
    }
    &::before,
    &::after {
        display: block;
        content: "";
    }
    &::before {
        top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
    &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
}

.hamburger--collapse {
    .hamburger__inner {
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition-duration: 0.1s;
        &::before {
            transition: top 0.1s 0.14s ease, opacity 0.1s ease;
        }
        &::after {
            transition: bottom 0.1s 0.14s ease,
                transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }
    &.is-active {
        .hamburger__inner {
            transition-delay: 0.14s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: rotate(45deg);
            &::before {
                top: 0;
                transition: top 0.1s ease, opacity 0.1s 0.14s ease;
                opacity: 0;
            }
            &::after {
                bottom: 0;
                transition: bottom 0.1s ease,
                    transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
                transform: rotate(-90deg);
            }
        }
    }
}
