/*	INFOBOX
//////////////////////////////////////////////////////////////////////////////*/

.mod_article {
    .infobox {
        @extend .slab--grey-lighter;
        padding: $spacing-l 50vw;
        position: relative;
        margin-top: $spacing-m;
        @include margin-xl;
        p {
            margin: 0 auto;
            margin-bottom: $spacing-s;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &:after {
            content: "";
            height: 0.5rem;
            width: 3rem;
            background: $red;
            position: absolute;
            bottom: -0.5rem;
        }
        a {
            color: $red;
        }
    }
}
