/*	INTRO SLIDER v2
//////////////////////////////////////////////////////////////////////////////*/

.site-intro--2 {
    display: flex;
    position: relative;
    margin-bottom: $spacing-l;
    @media (max-width: 920px) {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
    @media (min-width: 920px) {
        margin-left: -15rem;
        margin-right: -15rem;
    }
    .custom-navigation {
        order: 1;
        @extend .slab--red;
        @media (min-width: 920px) {
            width: 15rem;
        }

        .custom-controls-container {
            @media (max-width: 920px) {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 11;

                @include text-xl;
                width: 12rem;
            }
        }
    }
    .flexslider {
        order: 2;
        @media (min-width: 920px) {
            width: 47rem;
        }
        .slides {
            margin: 0;
        }
    }
    .flex-control-nav {
        position: relative;
        font-weight: $font-weight-normal;
        li {
            a {
                display: block;
                position: relative;
                color: transparent;
                &:hover {
                    color: transparent;
                    font-weight: $font-weight-normal;
                }
                &::after {
                    font-weight: $font-weight-normal;
                    sfont-family: "Trade Gothic LT W01 Bd CnNo-20";
                    sfont-family: "Trade Gothic LT W01 Cn No-_18";
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.4;
                    color: $white;
                }
                &:hover::after {
                    opacity: 0.7;
                }
            }
        }
        li:nth-of-type(1) a::after {
            content: "Mut";
        }
        li:nth-of-type(2) a::after {
            content: "Pioniergeist";
        }
        li:nth-of-type(3) a::after {
            content: "Verantwortung";
        }
        li:nth-of-type(4) a::after {
            content: "Gemeinschaft";
        }
        li:nth-of-type(5) a::after {
            content: "Innovation";
        }
    }
    .values-list {
        position: absolute;
        top: 0;
        left: -15rem;
        margin: 0;
        padding: 0;
        list-style: none;
        pointer-events: none;
        width: 15rem;
        font-weight: $font-weight-normal;
        @media (max-width: 920px) {
            left: 0;
            width: 12rem;
            background: rgba(210, 35, 42, 0.8);
        }
        li {
            color: #fff;
            display: block;
            background: $red;
            @media (max-width: 920px) {
                background: transparent;
            }
        }
        .empty {
            color: transparent;
            background: transparent;
        }
    }
    .prev-next {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 4rem;
        a {
            position: absolute;
            display: block;
            font-size: 0;
            line-height: 0;
            width: $spacing-l;
            height: $spacing-l;
            background-color: transparent;
            background-image: none;
            background-size: 50% 50%;
            background-repeat: no-repeat;
            background-position: center center;

            &:hover {
                background-color: $grey-lighter;
                transition: background-color 0.5s;
            }
        }
        .flex-prev {
            left: 0;
            background-image: url("../icons/icon--arrow-left.svg");
        }
        .flex-next {
            right: 0;

            background-image: url("../icons/icon--arrow-right.svg");
        }
    }
    .custom-controls-container,
    .flex-control-nav,
    .values-list {
        height: 100%;
    }
    .values-list,
    .flex-control-nav {
        margin: 0;
        padding: $spacing-m;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        list-style: none;
        text-align: left;
        @include text-xxl;
        @include td700c;
        text-transform: uppercase;
        font-weight: $font-weight-normal;
        @media (max-width: 920px) {
            @include text-xl;
        }
    }
}

.flex-disabled {
    display: none !important;
}
