/*	NAVIGATION FOOTER
//////////////////////////////////////////////////////////////////////////////*/

.site-nav--footer {
    ul {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 640px) {
            justify-content: flex-start;
        }
        li {
            margin-right: $spacing-m;
            @media (max-width: 640px) {
                margin-bottom: $spacing-s;
            }
        }
        li.link--facebook {
            a {
                font-size: 0;
                width: $spacing-m;
                height: $spacing-m;
                display: block;
                background-image: url("../icons/facebook--white.svg");
                background-repeat: no-repeat;
            }
        }
    }
}
