/*	NAVIGATION SUB
//////////////////////////////////////////////////////////////////////////////*/

.site-nav--sub {
    position: relative;
    padding: 0;
    margin-top: -0.5rem;
    margin-bottom: 3.75rem;
    @include text-l;
    @include td300c;
    @media (max-width: 920px) {
        line-height: 1.5;
    }
    a {
        background-image: none;
    }
    .level_2 {
        margin-left: $spacing-m;
        display: none;
    }
    .active .level_2,
    .trail .level_2 {
        display: block;
        margin-bottom: 0.5rem !important;
        @include text-m;
    }
    a.active,
    strong.active,
    a.trail,
    strong.trail {
        color: $red;
        font-weight: inherit;
        @include td300c;
    }
    &:after {
        @include grey-bar;
        left: 0;
        bottom: -$spacing-l;
    }
}

/*  TABLET ///////////////////////////////////////////////////////////////////*/

@media (min-width: 640px) and (max-width: 920px) {
    .site-nav--sub {
        position: relative;
        width: 100vw;
        margin-left: -50vw;
        margin-right: -50vw;
        margin-bottom: 1rem !important;
        padding: 0.5rem 0 !important;
        left: 50%;
        right: 50%;
        display: flex;
        justify-content: center;
        background: $grey-lighter;
        color: $grey-light;
        > ul {
            flex-basis: 32rem;
        }
    }
}

/*  MOBILE ///////////////////////////////////////////////////////////////////*/

@media (max-width: 767px) {
    .site-nav--sub {
        display: none;
    }
}
