/*	NAVIGATION MAIN
//////////////////////////////////////////////////////////////////////////////*/

/*  DESKTOP //////////////////////////////////////////////////////////////////*/

@media (min-width: 767px) {
    .site-nav--main {
        @include margin;
        > ul {
            display: flex;
            flex-wrap: wrap;
            > li {
                position: relative;

                &:hover > a {
                    color: $red;
                }
                > a,
                &.active {
                    position: relative;
                    display: block;
                    padding: $spacing-xs $spacing-s;
                    @include td700c;
                    @include text-xl;
                    &:after {
                        @include grey-bar;
                        left: 0.5rem;
                        bottom: -0.5rem;
                    }
                }
                strong.active {
                    @include td700c;
                }
                &.active:after,
                &.trail a:after {
                    background: $red;
                }
                &.active .level_2 {
                    margin-top: $spacing-xs;
                }
            }
            .level_2 {
                display: none;
                position: absolute;
                left: -100vw;
                z-index: 9999999;
                padding-left: 100vw;
                margin-left: 0;
                border-top: 1px solid rgb(220, 220, 220);
                @include td300c;
                li {
                    a,
                    strong.active,
                    strong.forward {
                        display: block;
                        width: 200vw;
                        margin-left: -100vw;
                        padding: 0.1rem 0 0.1rem calc(100vw + 0.5rem);
                        background: $grey-lighter;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        @include td300c;
                        font-size: 1rem;
                        &:hover {
                            background: $red;
                            color: $white;
                        }
                    }
                }
            }
            > li:hover .level_2 {
                display: block;
            }
            .level_3 {
                display: none;
            }
        }
    }
}

.toggle-wrapper {
    display: none;
}

li.site-searchpage {
    padding: 0 !important;
    &:after {
        display: none;
    }
    a,
    strong.active {
        display: block;
        background-image: url("../icons/icon-search.svg") !important;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 1.25rem;
        height: 2.2rem;
        font-size: 0 !important;
        line-height: 0 !important;
        margin-left: 0.5rem;
        position: relative;

        &::after {
            display: none;
        }
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: 1.25rem;
            height: 2.2rem;
            opacity: 0;
            background-image: url("../icons/icon-search--red.svg") !important;
            background-repeat: no-repeat;
            background-size: 100%;
            @media (min-width: 640px) {
                background-color: #fff;
            }
        }
        &:hover::before {
            opacity: 1;
        }
    }
}

@media (min-width: 768px) {
    .site-nav--main {
        box-shadow: none !important;
    }
}

/*  TABLET ///////////////////////////////////////////////////////////////////*/

.mobile {
    .site-nav--main {
        box-shadow: 0 0 5rem;
    }
}

@media (min-width: 767px) and (max-width: 920px) {
    .site-nav--main {
        width: 33rem;
        margin: 0 auto;
    }
    .site-nav--main > ul > li {
        margin-bottom: $spacing-m;
    }
}

.ios,
.android {
    @media (min-width: 768px) {
        .site-nav--main > ul > li:hover .level_2 {
            display: none;
        }
    }
}

/*  MOBILE OFF-CANVAS ////////////////////////////////////////////////////////*/

@media (max-width: 767px) {
    .toggle-wrapper {
        position: fixed;
        z-index: 13;
        top: 1rem;
        display: block;
    }

    .site-nav--main {
        opacity: 0;
        z-index: -1;
        &.is-visible {
            opacity: 1;
            transition: opacity 0.3s;
            z-index: 12;
        }
        background: $grey-lighter;
        padding: 6rem $spacing-m $spacing-l $spacing-m;
        line-height: 1.5;
        position: absolute;
        top: -1rem;
        left: 0;
        right: 0;
        .level_1 > li > a,
        .level_1 > li > .active {
            @include td700c;
            @include text-xl;
        }
        .level_2 {
            margin-bottom: $spacing-m !important;
            display: block;
            margin-left: 0;
            @include td300c;
        }
        li.site-searchpage {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            z-index: 3;
        }
        strong.active {
            color: $red;
            @include td700c;
        }
        > .level_1 {
            display: flex;
            flex-wrap: wrap;
            max-width: 32rem;
            margin: 0 auto;
            > li {
                flex-basis: 50%;
            }
        }
    }
}

@media (max-width: 480px) {
    .site-nav--main {
        > .level_1 {
            > li {
                flex-basis: 100%;
            }
        }
    }
}

.android .toggle {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.3rem;
}

button.toggle:hover {
    color: $black !important;
    background-color: $white !important;
    box-shadow: 1px 1px 0 $black inset, -1px -1px 0 $black inset !important;
}
