/*	NEWS
//////////////////////////////////////////////////////////////////////////////*/

.news--latest {
    > .block {
        position: relative;
        &:after {
            @include grey-bar;
            bottom: -2rem;
        }
    }
    .news-item {
        margin-bottom: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 920px) {
            margin-left: -15rem;
            padding-left: 15rem;
        }
        .news-item__left {
            @media (min-width: 920px) {
                width: 14rem;
                margin-left: -15rem;
            }
        }
        .news-item__right {
            @media (min-width: 920px) {
                width: 32rem;
            }
        }
    }
}

.info {
    margin: 0;
    margin-top: -1rem;
    @include text-s;
}
