/*	PAGE 
//////////////////////////////////////////////////////////////////////////////*/

.page {
    .page__title, h1.ce_headline, .mod_article>.ce_text h1 {
        @include text-xxxl;
        margin: 0 0 $spacing-l 0;
        position: relative;
        padding-bottom: $spacing-m;
        &:after {
            @include red-bar;
            left: 0;
            bottom: -$spacing-s;
        }
    }
}

.page {
    .page__title, h1.ce_headline, .mod_article>.ce_text h1 {
        margin: 0 0 $spacing-l 0;
        position: relative;
        padding-bottom: $spacing-m;
        @include text-xxxl;
        &:after {
            @include red-bar;
            left: 0;
            bottom: -$spacing-s;
        }
    }
}