/*	PROJEKTE
//////////////////////////////////////////////////////////////////////////////*/

.projects {
    @include clearfix;
    > .block {
        margin-bottom: 4rem;

        position: relative;
        &:after {
            @include grey-bar;
            bottom: -2rem;
        }

        .image_container {
            figcaption {
                text-align: left;
            }
        }
        @media (min-width: 768px) and (max-width: 920px) {
            float: left;
            .image_container {
                margin-bottom: 0;
                float: left;
                width: 9rem;
                margin-left: -10rem;
                figcaption {
                    position: absolute;
                    width: 9rem;
                    text-align: right;
                    font-size: $font-size-xs;
                }
            }
        }
        @media (min-width: 920px) {
            float: left;
            .image_container {
                margin-bottom: 0;
                float: left;
                width: 14rem;
                margin-left: -15rem;
                figcaption {
                    position: absolute;
                    width: 14rem;
                    text-align: right;
                }
            }
        }

        h4 {
            margin: 0;
        }
        p:last-of-type {
            margin: 0;
        }
        hr:last-of-type {
            margin-bottom: 1rem !important;
        }
    }
}
