/*	SEARCHFORM
//////////////////////////////////////////////////////////////////////////////*/

.site-searchform {
    margin: $spacing-l 0;
    input,
    button {
        box-shadow: none;
    }
    .formbody {
        display: flex;
        border: 1px solid $grey;
        &:hover {
            border-color: $red;
        }
    }
    .widget-text {
        flex: 1;
        height: 2.25rem;
        .text {
            height: 2.25rem;
        }
    }
    .widget-submit {
        button {
            background: none;
            border-left: 1px solid $grey;
            height: 2.25rem;
            &:hover {
                background: $red;
                border-left-color: $red;
                color: $white;
            }
        }
    }
    .header {
        margin-top: 4rem;
    }
    > div {
        @include margin-xl;
    }
}

.highlight {
    background-color: $grey-lighter;
    padding: 0.05rem 0.25rem 0.1rem 0.25rem;
}

.relevance,
.filesize {
    display: none;
}

.url {
    @include text-s;
}
