/*	SITEMAP
//////////////////////////////////////////////////////////////////////////////*/

.mod_sitemap {
    li {
        line-height: 1.5;
    }
    .level_1 {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        justify-content: space-between;
        @include margin;
        > li {
            list-style: none;
            flex-basis: 100%;
            @media (min-width: 360px) {
                flex-basis: calc(50% - 1rem);
            }

            > a {
                @include td700c;
                @include text-xl;
            }
        }
    }
    .level_2 {
        margin-bottom: $spacing-m !important;
    }
}
