//  MIXINS
////////////////////////////////////////////////////////////////////////////////
@mixin clearfix() {
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

@mixin visuallyhidden() {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
}

@mixin hidden() {
    display: none !important;
}

@mixin margin {
    margin-bottom: $spacing-m;
}
@mixin margin-l {
    margin-bottom: $spacing-l;
}
@mixin margin-xl {
    margin-bottom: $spacing-xl;
}
@mixin text-xxxl {
    font-size: #{$scale * $scale * $scale * $scale}em;
    line-height: $line-height-s;
    font-stretch: condensed;
    sfont-family: "Trade Gothic LT W01 Bd CnNo-20";
}
@mixin text-xxl {
    font-size: #{$scale * $scale * $scale}em;
    line-height: $line-height-s;
    sfont-stretch: condensed;
    sfont-family: "Trade Gothic LT W01 Bd CnNo-20";
}
@mixin text-xl {
    font-size: #{$scale * $scale}rem;
    line-height: $line-height-s;
    sfont-stretch: condensed;
    sfont-family: "Trade Gothic LT W01 Bd CnNo-20";
}
@mixin text-l {
    font-size: #{$scale}rem;
    line-height: $line-height-s;
    sfont-stretch: condensed;
    sfont-family: "Trade Gothic LT W01 Bd CnNo-20";
}
@mixin text-m {
    font-size: 1rem;
    line-height: $line-height-m;
}
@mixin text-s {
    font-size: #{1 / $scale}rem;
}
@mixin text-xs {
    font-size: 14px;
}
@mixin grey-bar {
    content: "";
    height: 0.5rem;
    background: $grey-lighter;
    width: 3rem;
    position: absolute;
}
@mixin red-bar {
    content: "";
    height: $spacing-s;
    width: 3rem;
    background: $red;
    position: absolute;
    bottom: -$spacing-s;
}

@mixin poly-fluid-sizing($property, $map) {
    $length: length(map-keys($map));
    @if ($length < 2) {
        @error "poly-fluid-sizing() $map requires at least values";
    }
    $map: map-sort($map);
    $keys: map-keys($map);
    #{$property}: map-get($map, nth($keys, 1));
    @for $i from 1 through ($length - 1) {
        @media (min-width: nth($keys, $i)) {
            #{$property}: linear-interpolation(
                (
                    nth($keys, $i): map-get($map, nth($keys, $i)),
                    nth($keys, ($i + 1)): map-get($map, nth($keys, ($i + 1)))
                )
            );
        }
    }
    @media (min-width: nth($keys, $length)) {
        #{$property}: map-get($map, nth($keys, $length));
    }
}

@function linear-interpolation($map) {
    $keys: map-keys($map);
    @if (length($keys) !=2) {
        @error "linear-interpolation() $map must be exactly 2 values";
    }
    $m: (map-get($map, nth($keys, 2)) - map-get($map, nth($keys, 1)))/ (nth(
                    $keys,
                    2
                ) - nth($keys, 1));
    $b: map-get($map, nth($keys, 1)) - $m * nth($keys, 1);
    $sign: "+";
    @if ($b < 0) {
        $sign: "-";
        $b: abs($b);
    }
    @return calc(#{$m * 100}vw #{$sign} #{$b});
}
@function list-sort($list) {
    $sortedlist: ();
    @while length($list) >0 {
        $value: nth($list, 1);
        @each $item in $list {
            @if $item < $value {
                $value: $item;
            }
        }
        $sortedlist: append($sortedlist, $value, "space");
        $list: list-remove($list, index($list, $value));
    }
    @return $sortedlist;
}
@function map-sort($map) {
    $keys: list-sort(map-keys($map));
    $sortedMap: ();
    @each $key in $keys {
        $sortedMap: map-merge(
            $sortedMap,
            (
                $key: map-get($map, $key)
            )
        );
    }
    @return $sortedMap;
}
@function list-remove($list, $index) {
    $newList: ();
    @for $i from 1 through length($list) {
        @if $i !=$index {
            $newList: append($newList, nth($list, $i), "space");
        }
    }
    @return $newList;
}
