//	VARIABLES
////////////////////////////////////////////////////////////////////////////////

// colors //////////////////////////////////////////////////////////////////////
$red: rgb(210, 35, 42);
$black: rgb(0, 0, 0);
$grey-dark: rgb(28, 28, 28);
$grey: rgb(57, 57, 65);
$grey-light: rgb(130, 130, 130);
$grey-lighter: rgb(237, 237, 237);
$white: rgb(253, 253, 253);

// breakpoints /////////////////////////////////////////////////////////////////
$breakpoint-s: 640;
$breakpoint-m: 920;
$breakpoint-l: 1280;

// grid ////////////////////////////////////////////////////////////////////////
$page-width: 64rem;
$sidebar-width: 14rem;
$main-width: 32rem;

// spacings ////////////////////////////////////////////////////////////////////
$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 2rem;
$spacing-xl: 4rem;
$spacing-xxl: 8rem;

// font stacks /////////////////////////////////////////////////////////////////

$font-stack-tdn300: "Trade Gothic Next LT W01 Light", arial, helvetica;
$font-stack-tdn700: "Trade Gothic Next LT W01 Bold", arial, helvetica;
$font-stack-td300c: "Trade Gothic LT W01 Cn No-_18", arial, helvetica;
$font-stack-td700c: "Trade Gothic LT W01 Bd CnNo-20", arial, helvetica;

$font-stack-code: monospace;

// font sizes //////////////////////////////////////////////////////////////////

$font-size-xs: 12px;
$font-size-s: 0.8rem;
$font-size-min: 16;
$font-size-max: 20;

// line heights ////////////////////////////////////////////////////////////////
$line-height-s: 1.1;
$line-height-m: 1.25;
$line-height-l: 1.75;

// font weights ////////////////////////////////////////////////////////////////
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// typographic scale ///////////////////////////////////////////////////////////
$scale: 1.25;
