/*	HEADER 
//////////////////////////////////////////////////////////////////////////////*/

.site-header {
    margin: $spacing-m 0 $spacing-m 0;
    @media (min-width: 920px) {
        margin: $spacing-l 0 $spacing-l 0;
    }
}