/*	NAVIGATION 
//////////////////////////////////////////////////////////////////////////////*/

.site-header .site-nav--main {
    @media (max-width: 920px) {
        max-width: 32rem;
        margin: 0 auto;
    }
    @media (min-width: 920px) {
        margin-left: 14.5rem;
        margin-top: -3.5rem;
    }
    @media (min-width: 640px) and (max-width: 920px) {
        >ul {
            margin-left: -.5rem;
        }
    }
}