/*	SIDEBAR 
//////////////////////////////////////////////////////////////////////////////*/

.site-sidebar {
    @include text-s;
    button {
        width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

.site-sidebar--left {
    @media (min-width: 920px) {
        text-align: right;
    }
}

.site-sidebar--right {
    .ce_form {
        padding: 0 $spacing-m;
    }
    >.block {
        position: relative;
        margin-bottom: 4rem;
    }
    >.block::after {
        content: "";
        height: .5rem;
        background: #ededef;
        width: 3rem;
        position: absolute;
        left: 0;
        bottom: -2rem;
    }
    >.block.last {
        margin-bottom: 0;
    }
    >.block.last::after {
        display: none;
    }
}