/*	CONTAO CLASSES 
//////////////////////////////////////////////////////////////////////////////*/

.invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.float_left {
    float: left;
    margin: 0 $spacing-m 0 0;
}

.float_right {
    float: right;
}

.block {
    /*
    @include clearfix;
    */
}

.clear,
#clear {
    height: 0.1px;
    font-size: 0.1px;
    line-height: 0.1px;
    clear: both;
}

.custom {
    display: block;
}

#container:after,
.custom:after {
    content: "";
    display: table;
    clear: both;
}
