/*	FORMS 
//////////////////////////////////////////////////////////////////////////////*/

input,
button,
textarea {
    padding: $spacing-s;
    line-height: $line-height-m;
    max-width: 100%;
    box-shadow: 1px 1px 0 $grey inset, -1px -1px 0 $grey inset;
    border: none;
    font-family: $font-stack-tdn700;
    width: 100%;
    -webkit-appearance: none;
    &:hover {
        box-shadow: 1px 1px 0 $red inset, -1px -1px 0 $red inset;
    }
}

input[type="submit"],
button,
.submit {
    padding: $spacing-s $spacing-m;
    cursor: pointer;
    border: 0;
    width: auto;
    font-weight: $font-weight-bold;
    &:hover {
        background-color: $red !important;
        box-shadow: 1px 1px 0 $red inset, -1px -1px 0 $red inset !important;
    }
}

label {
    color: $grey;
    margin-bottom: $spacing-xs;
    font-weight: $font-weight-bold;
    @include text-s;
}

.ce_form {
    .widget-submit {
        .submit {
            font-weight: $font-weight-bold;
            background: transparent;
            color: $grey;
            box-shadow: 1px 1px 0 $grey inset, -1px -1px 0 $grey inset;
            &:hover {
                color: $white;
            }
        }
    }
}
