/*	GENERIC 
//////////////////////////////////////////////////////////////////////////////*/

html {
    box-sizing: border-box;
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: $white;
    color: $grey;
}

#wrapper {
    overflow-x: hidden;
}
