/*	LINKS 
//////////////////////////////////////////////////////////////////////////////*/

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $red;
    }
    .mod_article & {
        color: $red;
        &:hover {
            text-decoration: underline;
        }
    }
}
