/*	LISTS 
//////////////////////////////////////////////////////////////////////////////*/

nav ul {
    list-style: none;
    margin: 0;
}

.mod_article {
    ul,
    ol {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }
    }
}

ul ul,
ol ol {
    margin-bottom: 0 !important;
    margin-left: 1.5rem;
}

ol {
    margin-left: 1.5rem;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.no-bullets {
    list-style-type: none !important;
}
