/*	MEDIA 
//////////////////////////////////////////////////////////////////////////////*/

img,
svg {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

iframe {
    border: 0;
    max-width: 100%;
    vertical-align: bottom;
}

.ce_youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
