/*	HORIZONTAL RULER
//////////////////////////////////////////////////////////////////////////////*/

hr {
    border: none;
    background: $grey-lighter;
    width: 3rem;
    height: 0.5rem;
    margin: $spacing-l 0 !important;
}
