/*	SLABS 
//////////////////////////////////////////////////////////////////////////////*/

.slab--red {
    background: $red;
    color: $white;
    a {
        color: $white;
        &:hover {
            color: $black;
        }
    }
}
.slab--grey {
    background: $grey;
    color: $white;
}
.slab--grey-lighter {
    background: $grey-lighter;
    color: $grey-light;
}
