/*	SPACING 
//////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

* > *:last-child {
    margin-bottom: 0;
}

.mod_article {
    h1,
    h2,
    p,
    ul,
    ol,
    dl,
    table,
    form,
    article,
    section,
    .image_container,
    .ce_download,
    .ce_downloads,
    .ce_image,
    .block {
        @include margin;
    }

    .chart {
        @include margin-l;
    }

    h3,
    h4,
    h5,
    h6 {
        margin-bottom: $spacing-s;
    }
}
