/*	TABLES 
//////////////////////////////////////////////////////////////////////////////*/

table {
    width: 100%;
    border-top: 1px solid $grey-lighter;
    td,
    th {
        padding: $spacing-xs 0;
        border-bottom: 1px solid $grey-lighter;
    }
    th {
        text-align: left;
        padding-right: $spacing-s;
        font-stretch: condensed;
    }
}
