/*	TYPOGRAPHY 
//////////////////////////////////////////////////////////////////////////////*/

//  Font Stacks

@mixin tdn300 {
    font-family: $font-stack-tdn300;
}

@mixin tdn700 {
    font-family: $font-stack-tdn700;
}

@mixin td300c {
    font-family: $font-stack-td300c;
}

@mixin td700c {
    font-family: $font-stack-td700c;
}

body {
    @include tdn300;
}

code,
pre {
    font-family: $font-stack-code;
}

b,
strong,
em,
th,
h5,
h6 {
    @include tdn700;
}

h1,
h2,
h3,
h4 {
    @include td700c;
}

//	Responsive Typography
//
//  px  on Root
//  em  on Elements
//  rem on Modules
html {
    $map: (
        920px: 14px,
        1600px: 20px
    );
    @include poly-fluid-sizing("font-size", $map);
    line-height: $line-height-m;
}

//	Typographic Scale
.text-s {
    font-size: #{1 / $scale}em;
}

.text-m {
    font-size: 1em;
}

.text-l {
    font-size: #{$scale}em;
    line-height: $line-height-s;
}

.text-xl {
    font-size: #{$scale * $scale}em;
    line-height: $line-height-s;
}

.text-xxl {
    font-size: #{$scale * $scale * $scale}em;
    line-height: $line-height-s;
}

*,
h5,
h6 {
    @extend .text-m;
}

h1 {
    @extend .text-xxl;
}

h2 {
    @extend .text-xl;
}

h3,
h4 {
    @extend .text-l;
}

small {
    @extend .text-s;
}

* {
    font-weight: $font-weight-normal;
}

// Text Styles

.number {
    font-size: 0.9em;
}

.nowrap {
    overflow: hidden;
    white-space: nowrap;
}

//  Text Selection

::-moz-selection {
    color: $white;
    background: $red;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $red;
    text-shadow: none;
}

// Quotes

blockquote {
    @extend .slab--grey-lighter;
    padding: $spacing-m;
    position: relative;
    margin-bottom: 2rem !important;
    margin-left: -1rem;
    margin-right: -1rem;
    &:after {
        @include red-bar;
        left: 1rem;
    }
    footer {
        font-size: $font-size-s;
        text-align: right;
    }
}
