/*	GENERIC 
//////////////////////////////////////////////////////////////////////////////*/

html {
    box-sizing: border-box;
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: $white;
}

article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
    display: block;
}