/*	LINKS 
//////////////////////////////////////////////////////////////////////////////*/

a {
    text-decoration: none;
    sdisplay: inline-block;
    background-image: linear-gradient(to top, $grey, $grey 1px, transparent 1px);
    color: $grey;
    &:link {}
    &:visited {}
    &:hover {
        color: $red;
        background-image: linear-gradient(to top, $red, $red 1px, transparent 1px);
    }
    &:active {}
}

.site-breadcrumbs, .mod_article a, .site-footer a, .site-nav--sub a {
    @media (min-width: 1280px) {
        text-shadow: .05rem 0 0 #fff, 0 .05rem 0 #fff, .05rem .05rem 0 #fff, .05rem -.05rem 0 #fff, -.05rem .05rem 0 #fff, -.05rem -.05rem 0 #fff, .1rem 0px 0 #fff, 0 .1rem 0 #fff, .1rem .1rem 0 #fff, .1rem -.1rem 0 #fff, -.1rem .1rem 0 #fff, -.1rem -.1rem 0 #fff;
    }
}

.mobile, .ios, .android {
    .site-main, .site-footer {
        a {
            background-image: none !important;
            text-decoration: underline;
            text-shadow: none !important;
        }
    }
}

figure a {
    background-image: none !important;
}

a[href$=".pdf"] {
    &:after {
        content: "(.pdf)";
        background-image: url('../icons/fontawesome/regular/file-pdf.svg');
        background-size: 100%;
        background-size: 100% 100%;
        width: 1rem;
        height: 1rem;
        font-size: 0;
        display: inline-block;
        position: absolute;
        margin-top: .15rem;
        margin-left: .15rem;
    }
}