/*	LISTS 
//////////////////////////////////////////////////////////////////////////////*/

nav ul {
    list-style: none;
}

.mod_article {
    ul, ol {
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
        }
    }
}

ul ul, ol ol {
    margin-bottom: 0 !important;
    margin-left: $spacing-m;
}

ol {
    list-style-position: inside;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

.ce_text {
    ul {
        list-style-type: none;
    }
    ul li {
        padding-left: $spacing-m;
    }
    ul li::before {
        content: "";
        height: .25rem;
        width: .5rem;
        background: $grey-light;
        display: inline-block;
        position: absolute;
        margin-right: $spacing-xs;
        margin-left: -$spacing-m;
        margin-top: $spacing-s;
    }
    ol {
        list-style-type: none;
    }
    ol li {
        counter-increment: step-counter;
    }
    ol li::before {
        content: counter(step-counter);
        font-weight: $font-weight-bold;
        font-family: $font-stack-display;
        margin-right: $spacing-xs;
        color: $grey-light;
    }
}