/*	SLAPS 
//////////////////////////////////////////////////////////////////////////////*/

.slab--red {
    background: $red;
    color: $white;
    a {
        color: $white;
        background-image: linear-gradient(to top, currentColor, currentColor 1px, transparent 1px);
        @media (min-width: 1280px) {
            text-shadow: 0 2px 0px $red, 2px 2px 0px $red, -2px 2px 0px $red, 0 1px 0px $red, 1px 1px 0px $red, -1px 1px 0px $red;
        }
        &:hover {
            background-image: linear-gradient(to top, currentColor, currentColor 1px, transparent 1px);
            color: $black;
        }
    }
}

.slab--grey {
    background: $grey;
    color: $white;
    a {
        @media (min-width: 1280px) {
            text-shadow: .05rem 0 0 $grey, 0 .05rem 0 $grey, .05rem .05rem 0 $grey, .05rem -.05rem 0 $grey, -.05rem .05rem 0 $grey, -.05rem -.05rem 0 $grey, .1rem 0px 0 $grey, 0 .1rem 0 $grey, .1rem .1rem 0 $grey, .1rem -.1rem 0 $grey, -.1rem .1rem 0 $grey, -.1rem -.1rem 0 $grey;
        }
    }
}

.slab--grey-lighter {
    background: $grey-lighter;
    a {
        @media (min-width: 1280px) {
            text-shadow: .05rem 0 0 $grey-lighter, 0 .05rem 0 $grey-lighter, .05rem .05rem 0 $grey-lighter, .05rem -.05rem 0 $grey-lighter, -.05rem .05rem 0 $grey-lighter, -.05rem -.05rem 0 $grey-lighter, .1rem 0px 0 $grey-lighter, 0 .1rem 0 $grey-lighter, .1rem .1rem 0 $grey-lighter, .1rem -.1rem 0 $grey-lighter, -.1rem .1rem 0 $grey-lighter, -.1rem -.1rem 0 $grey-lighter;
        }
    }
}