/*	SPACING 
//////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
}

*>*:last-child {
    margin-bottom: 0;
}

.mod_article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl,
    table,
    form,
    article,
    section {
        margin-bottom: $spacing-m;
    }
}