/*	TYPOGRAPHY 
//////////////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'TradeGothic';
    src: url('../fonts/TradeGothic/TradeGothic-700c.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-stretch: condensed;
}

@font-face {
    font-family: 'TradeGothic';
    src: url('../fonts/TradeGothic/TradeGothic-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'TradeGothic';
    src: url('../fonts/TradeGothic/TradeGothic-400c.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-stretch: condensed;
}

@font-face {
    font-family: 'TradeGothic';
    src: url('../fonts/TradeGothic/TradeGothic-400.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

//  Font Stacks
body {
    font-family: $font-stack-display;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack-display;
}

code, pre {
    font-family: $font-stack-code;
}

// Text Colors
body {
    color: $grey;
}

a {
    color: $grey;
}

::-moz-selection {
    color: $white;
    background: $red;
}

::selection {
    color: $white;
    background: $red;
}

//	Responsive Typography
//  
//  px  on Root
//  em  on Elements
//  rem on Modules
html {
    $map: (920px: 14px, 1280px: 20px);
    @include poly-fluid-sizing('font-size', $map);
    line-height: $line-height-m;
}

//	Typographic Scale
.text-s {
    font-size: #{1 / $scale}em;
}

.text-m {
    font-size: 1em;
}

.text-l {
    font-size: #{$scale}em;
    line-height: $line-height-s;
}

.text-xl {
    font-size: #{$scale*$scale}em;
    line-height: $line-height-s;
}

.text-xxl {
    font-size: #{$scale*$scale*$scale}em;
    line-height: $line-height-s;
}

* {
    @extend .text-m;
}

h1 {
    @extend .text-xxl;
}

h2 {
    @extend .text-xl;
}

h3, h4, h5, h6 {
    @extend .text-l;
}

small {
    @extend .text-s;
}

// Text Styles
h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    font-stretch: condensed;
}

.td {
    font-family: $font-stack-display;
}

.condensed {
    font-stretch: condensed;
}

.bold {
    font-weight: $font-weight-bold;
}