/*	DEFAULT PAGE LAYOUT 
//////////////////////////////////////////////////////////////////////////////*/

// global page layout
.site-header, #sub, .site-footer, .site-container {
    .inside {
        padding: 0 $spacing-m;
        position: relative;
    }
}

.site-main {
    margin: $spacing-m 0 $spacing-xl 0;
}

@media (max-width: 640px) {
    .site-sidebar {
        margin-bottom: 3rem;
    }
}

@media (min-width: 920px) {
    .site-sidebar {
        margin: $spacing-m 0 3rem 0;
    }
    .site-main {
        margin: $spacing-m $spacing-m $spacing-xl $spacing-m;
    }
}

@media (max-width: 920px) {
    .site-container .inside {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .site-main {
            flex-basis: 32rem;
            order: 1;
        }
        .site-sidebar--left {
            flex-basis: 32rem;
            order: 2;
        }
        .site-sidebar--right {
            flex-basis: 32rem;
            order: 3;
        }
    }
}

@media (min-width: 920px) {
    .site-header, #sub, .site-footer, .site-container {
        .inside {
            margin: 0 auto;
            width: $page-width;
        }
    }
    .site-container .inside {
        display: flex;
        justify-content: flex-end;
        .site-main {
            width: 32rem;
            order: 2;
        }
        .site-sidebar--left {
            width: 14rem;
            order: 1;
        }
        .site-sidebar--right {
            width: 14rem;
            order: 3;
        }
    }
}