/*	STICKY FOOTER 
//////////////////////////////////////////////////////////////////////////////*/

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    #container {
        sflex: 1;
    }
    #footer {
        flex: 1;
    }
}