/*	FRONTPAGE 
//////////////////////////////////////////////////////////////////////////////*/

.startseite {
    .page__title,
    .site-breadcrumbs {
        display: none !important;
    }
    .site-sidebar--right {
        margin: 0;
    }
    @media (max-width: 920px) {
        .slider__nav {
            display: none;
        }
    }
    #wrapper {
        opacity: 0;
    }
    &.loaded #wrapper {
        opacity: 1;
        transition: opacity.3s;
    }
}
